
#junior-page {
    #proizvodi {
        // overflow: hidden;
        margin-bottom: 40px;
        @media screen and (max-width: $screenMobile) {
            text-align: center;
        }
        .wrap {
            display: flex;
            align-items: center;
            justify-content: center;
            .junior-item {
                width: 40%;
                max-width: 200px;
                img.package {
                    width: 100%;
                    // margin-bottom: -10px;
                }
                .proizvod {
                    @include transition(all 2s);
                    transform: rotate(0deg) translateX(0%);
                    opacity: 1;
                    .rings {
                        .ring {
                            border-color: $color-junior-green;
                        }
                    }
                }
                &.left {
                    .proizvod {
                        &.hidden-product {
                            opacity: 0;
                            transform: rotate(20deg) translateX(-800%);
                        }
                    }
                }
                &.right {
                    .proizvod {
                        &.hidden-product {
                            opacity: 0;
                            transform: rotate(-20deg) translateX(800%);
                        }
                    }
                }
                .line {
                    background: $color-junior-green;
                }
                .info {
                    opacity: 1;
                    text-align: center;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    pointer-events: initial;
                    span {
                        margin-top: 0;
                        margin-bottom: 15px;
                        font-size: 13px;
                    }
                    button {
                        width: 150px;
                        height: 42px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border: none;
                        outline: 0;
                        color: white;
                        font-size: 14px;
                        font-weight: bold;
                        background-color: $color-junior-green;
                        @include transition(all 0.5s);
                    }
                }
                &:hover {
                    button {
                        background-color: $color-junior-orange;
                    }
                }
            }
        }
    }
    .junior-sku-slider {
        @media screen and (max-width: $screenMobile) {
            .item {
                text-align: center;
                padding: 0 15px;
                img {
                    width: 60%;
                    margin: 0 auto 20px;
                }
                .text {
                    font-size: 13px;
                    h4 {
                        font-size: 16px;
                        margin-bottom: 10px;
                        color: $color-junior-green;
                    }
                }
                .slide-transition {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 100%;
                    width: 0%;
                    background: white;
                    @include transition(all 0.6s);
                    &.start {
                        width: 100%;
                    }
                    &.end {
                        width: 0%;
                        left: initial;
                        right: 0;
                    }
                }
            }
        }
    }
    .sku-arrows
    {
        width: 124px;
        display: inline-block;
        color: white;
        z-index: 100;
        margin-top: 30px;
        @media screen and (max-width: $screenMobile) {
            position: relative;
            padding-bottom: 30px;
        }
        .pages
        {
            margin-top: 70px;
            color: $color-darkBlue;
            .current-page
            {
                font-weight: 700;
                color: $color-junior-orange;
            }
        }
        .arrows
        {
            width: 100%;
            display: flex;
            background: $color-junior-green;
            overflow: hidden;
            position: absolute;
            left: 0;
            top: 0;
            .arrow, .delimiter
            {
                background: transparent;
                user-select: none;
            }
            .arrow
            {
                outline: none;
                border: none;
                padding: 15px 20px;
                min-width: 60px;
                opacity: .3;
                @include transition(all .5s);
                &:hover
                {
                    opacity: 1;
                }
            }
            .delimiter
            {
                padding: 15px 0;
                pointer-events: none;
                opacity: .25;
            }
        }
    }
}

.product-zoom-overlay {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    display: none;
    .overlay-content {
        width: 90%;
        height: 90%;
        max-width: 700px;
        max-height: 546px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        background: #fff;
        padding: 40px;
        box-sizing: border-box;
        box-shadow: 0 0 30px rgba(0,0,0,.2);
    }
    .close-zoom-overlay {
        height: 20px;
        width: 20px;
        border-radius: 50%;
        border: 1px solid $color-junior-green;
        cursor: pointer;
        color: $color-junior-green;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        position: absolute;
        z-index: 100;
        top: 10px;
        left: 10px;
        span {
            display: block;
            font-size: 12px;
            font-weight: 100;
        }
    }
    .image-box {
        height: 100%;
        width: 100%;
        display: block;
        box-shadow: 0 0 30px rgba(0,0,0,.2);
        overflow: hidden;
        position: relative;
        cursor: zoom-in;
        img {
            width: 100%;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%);
            transition: all 0.3s;
            pointer-events: none;
            user-select: none;
        }
        &.zoomed {
            cursor: zoom-out;
            img {
                width: 230%;
                transition: all 0.15s;
            }
        }
    }
}