article.junior-overlay {
    width: 1920px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000000;
    display: none;
    .overlay-wrapper {
        width: 0%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        overflow: hidden;
    }
    .overlay-content {
        background: white;
        height: 100%;
        width: 1920px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .sku-wrap
    {
        width: 70%;
        max-width: $contentWidth;
        background: white;
        box-shadow: 0 0 100px rgba(0,0,0,.25);
        position: relative;
        @media screen and (max-width: $screenMobile) {
            width: 100%;
        }
        .slick-list, .slick-track
        {
            display: flex;
        }
    }
    .slider-wrap
    {
        position: relative;
        z-index: 10;
        @media screen and (max-width: $screenMobile) {
            display: flex;
            flex-direction: column-reverse;
        }
        .junior-sku-slider
        {
            padding: 100px 50px 20px;
            // padding-bottom: 20px;
            @media screen and (max-width: $screenMobile) {
                padding: 100px 10px 20px;
            }
            .item
            {
                position: relative;
                outline: none;
                height: 100%;
                min-height: 450px;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                align-items: center;
                // transform: scale(0.5);
                // opacity: 0.5;
                cursor: pointer;
                -webkit-tap-highlight-color: rgba(0,0,0,0);
                @include transition(all .5s);
                @media screen and (max-width: $screenMobile) {
                    min-height: 350px;
                }
                .slide-transition {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 100%;
                    width: 0%;
                    background: white;
                    @include transition(all 0.7s);
                    &.start {
                        width: 100%;
                    }
                    &.end {
                        width: 0%;
                        left: initial;
                        right: 0;
                    }
                }
                .text
                {
                    width: 90%;
                    height: 150px;
                    margin-top: 25px;
                    color: $color-gray;
                    // opacity: 0;
                    text-align: center;
                    @include transition(opacity .5s);
                    // position: absolute;
                    // transform: translateY(-100%);
                    // margin: -35px 0 0 35px;
                    h4
                    {
                        color: $color-junior-green;
                        font-size: 23px;
                        // line-height: 3vw;
                    }
                    p
                    {
                        margin-top: 15px;
                        font-size: 14px;
                    }
                }
                &.slick-center
                {
                    transform: scale(1);
                    opacity: 1;
                    .text
                    {
                        opacity: 1;
                    }
                    .social
                    {
                        opacity: 1;
                        pointer-events: all;
                    }
                }
            }
        }
        .line
        {
            width: 70px;
            height: 1px;
            background: $color-junior-green;
            position: absolute;
            top: 50%;
            @media screen and (max-width: $screenMobile) {
                display: none;
            }
            &.right
            {
                right: 0;
                transform: translateX(50%);
            }
            &.left
            {
                transform: translateX(-50%);
            }
        }
        .sku-arrows
        {
            width: 124px;
            display: flex;
            flex-direction: column;
            align-items: center;
            position: absolute;
            left: 50%;
            margin-left: -62px;
            transform: translate(0,-25%);
            color: white;
            z-index: 100;
            @media screen and (max-width: $screenMobile) {
                transform: translate(-50%, 0);
                position: relative;
                padding-bottom: 30px;
            }
            .pages
            {
                margin-top: 75px;
                color: $color-darkBlue;
                .current-page
                {
                    font-weight: 700;
                    color: $color-junior-orange;
                }
            }
            .arrows
            {
                width: 0%;
                display: flex;
                background: $color-junior-green;
                overflow: hidden;
                position: absolute;
                left: 0;
                top: 0;
                .arrow, .delimiter
                {
                    background: transparent;
                    user-select: none;
                }
                .arrow
                {
                    outline: none;
                    border: none;
                    padding: 15px 20px;
                    min-width: 60px;
                    opacity: .3;
                    @include transition(all .5s);
                    &:hover
                    {
                        opacity: 1;
                    }
                }
                .delimiter
                {
                    padding: 15px 0;
                    pointer-events: none;
                    opacity: .25;
                }
            }
        }
    }
    .back-btn-wrap {
        width: 90%;
        margin: -85px 0 30px;
        display: flex;
        .back-btn {
            cursor: pointer;
            display: flex;
            align-items: center;
            color: $color-junior-green;
            @include transition(all 0.5s);
            svg {
                stroke: $color-junior-green;
                margin-right: 15px;
                @include transition(all 0.5s);
            }
            span {
                text-transform: uppercase;
                font-weight: 400;
            }
            &:hover {
                color: $color-junior-orange;
                svg {
                    stroke: $color-junior-orange;
                }
            }
        }
    }
}