#junior-page {
    #hero {
        box-shadow: 0 0 150px rgba(0,0,0,.4);
    }
    .about-wrap {
        width: 0%;
        overflow: hidden;
        @include transition(all 2s);
        transition-timing-function: ease-in-out;
        &.open {
            width: 100%;
        }
        #about {
            margin-top: 0;
            padding: 200px 0 180px;
            .parallax-wrap {
                .parallax-box {
                    .cover {
                        transition-delay: 1.1s;
                    }
                    .title {
                        padding-top: 25px;
                        color: $color-junior-green;
                        line-height: 1.15;
                        font-size: 2.4vw;
                        @media all and (max-width:768px) {
                            font-size: 24px;
                            text-align: center;
                        }
                        .line {
                            background: $color-junior-green;
                        }
                    }
                    .text {
                        font-size: 14px;
                        line-height: 1.5;
                        padding-bottom: 0;
                    }
                }
            }
        }
    }
    #header-mobile {
                pointer-events: auto !important;
            }
            #navigation .logo a img {
                top: 0;
            }
             #proizvodi {
                overflow-x: hidden;
             }
             #product-features .section-content .radial-wrapper ul.icons li.icon-3 svg.icon {
                height: 22px;
                padding-top: 2px;
             }
             #page-between {
                background: white;
                display: flex;
                left: 0;
                transition: all 1.5s;
             }
            #page-between.active {
                    left: initial;
                    right: 0;
                    width: 0%;
                }
            .scroll-arrow svg {
                width: 30px;
                height: 20px;
            }
            @media all and (max-width: 768px) {
                main {
                    padding-bottom: 100px;
                }
                .junior-heading-cover {
                    width: 100%;
                }
                #header-mobile {
                    height: initial;
                    background: white;
                    position: fixed;
                    pointer-events: none;
                    display: block;
                    width: 100%;
                    top: 0;
                    left: 0;
                    text-align: center;
                    padding: 8px 0;
                }
                #header-mobile img {
                    height: 45px;
                }
                .sku-arrows {
                    margin: 0;
                }
                .junior-slider-mobile .icons:before {
                    top: initial;
                    bottom: 70px;
                    -webkit-transform: translateY(0%);
                    transform: translateY(0%);
                }
                .junior-slider-mobile .icons .item.slick-center {
                    -webkit-transform: translateY(20%);
                    transform: translateY(20%);
                }
                .junior-slider-mobile .icons .item:not(.slick-center) {
                    -webkit-transform: translateY(-2.7vw);
                    transform: translateY(-2.7vw);
                }
                .junior-slider-mobile .slick-list {
                    padding-bottom: 10px;
                }
                .junior-slider-mobile .slick-track {
                    padding-bottom: 30px;
                }
                .junior-slider-mobile img.mobile-shadow {
                    bottom: 15px;
                }
                .sku-arrows {
                    margin-bottom: 0;
                }
            }
            @media all and (max-width: 550px) {
                .junior-slider-mobile .icons .item:not(.slick-center) {
                    -webkit-transform: translateY(-1.2vw);
                    transform: translateY(-1.2vw);
                }
            }
            @media all and (max-width: 450px) {
                .junior-slider-mobile .icons .item:not(.slick-center) {
                    -webkit-transform: translateY(0);
                    transform: translateY(0);
                }
            }
            @media all and (max-width: 370px) {
                .junior-slider-mobile .icons .item:not(.slick-center) {
                    -webkit-transform: translateY(1.7vw);
                    transform: translateY(1.7vw);
                }
            }
            #product-features .section-content .radial-wrapper .slider-content .logo {
                width: 47%;
                margin-bottom: 20px;
                margin-top: 20px;
            }
            #product-features .section-header p {
                text-align: left;
            }
            #hero .slider-wrap .hero-slider .item .text {
                cursor: pointer;
            }
            #hero .slider-wrap .hero-slider .item .text:hover {
                color: #00958e;
            }
            .hero-slider .video {
                background-image:url('/assets/front/images/junior/new-hero-desktop.jpg');
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center center;
            }
            @media all and (max-width: 768px) {
                .hero-slider .video {
                    background-image:url('/assets/front/images/junior/new-hero-mobile.jpg');
                }
            }
}

.mobile-device {
    .junior-heading-cover,
    #junior-page .about-wrap {
        width: 100%;
    }
}