#product-features {
    width: 100%;
    display: flex;
    justify-content: center;
    device.desktop {
        width: 100%;
        padding: 80px 0;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .parallax-wrap {
        width: 90%;
        max-width: $contentWidth;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: relative;
        @media screen and (max-width: $screenMobile) {
            width: 100%;
            flex-wrap: wrap;
            justify-content: center;
        }
    }
    .section-header {
        width: 60%;
        padding-bottom: 100px;
        padding-top: 0;
        p {
            width: 80%;
            @media screen and (max-width: $screenMobile) {
                width: 90%;
            }
        }
        @media screen and (max-width: $screenMobile) {
            width: 100% !important;
        }
        &:after {
            bottom: 30px !important;
        }
    }
    .section-content {
        .radial-wrapper {
            width: 580px;
            border-radius: 50%;
            background: transparent;
            border: 1px solid #d0d0d0;
            position: relative;
            background: url('../images/junior/junior-slider-bg.png') no-repeat center center;
            background-size: contain;
            display: flex;
            align-items: center;
            justify-content: center;
            @media all and (max-width: 1100px) {
                width: 480px;
            }
            @media all and (max-width: 900px) {
                width: 440px;
            }
            &:after {
                // content: '';
                width: 155%;
                border: 1px solid #d0d0d0;
                position: absolute;
                bottom: -27.5%;
                left: -27.5%;
                border-radius: 50%;
                height: 155%;
            }
            ul.icons {
                position: absolute;
                width: 100%;
                height: 100%;
                border-radius: 50%;
                list-style-type: none;
                li {
                    height: 42px;
                    width: 42px;
                    border-radius: 50%;
                    border: 1px solid black;
                    position: absolute;
                    background: white;
                    z-index: 100;
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    @include transition(all 0.5s);
                    svg.icon {
                        height: 28px;
                        width: 28px;
                        fill: black;
                        position: relative;
                        z-index: 2;
                        @include transition(all 0.3s);
                    }
                    .bg {
                        height: 0px;
                        width: 0px;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        border-radius: 100%;
                        z-index: 1;
                        @include transition(all 0.5s);
                    }
                    &:hover {
                        transform: scale(1.35);
                        .bg {
                            width: 100%;
                            height: 100%;
                            left: 0;
                            top: 0;
                        }
                        svg.icon {
                            fill: white !important;
                        }
                    }
                    &.icon-1 {
                        top: 0;
                        left: 50%;
                        border-color: #f6a321;
                        margin-left: -21px;
                        margin-top: -21px;
                        .first,
                        .second,
                        .third,
                        .fourth,
                        .bg {
                            background-color: #f6a321;
                        }
                        svg.icon {
                            fill: #f6a321;
                        }
                    }
                    &.icon-2 {
                        top: 15%;
                        right: 60px;
                        border-color: #9e2f8c;
                        margin-top: -21px;
                        .first,
                        .second,
                        .third,
                        .fourth,
                        .bg {
                            background-color: #9e2f8c;
                        }
                        svg.icon {
                            fill: #9e2f8c;
                        }
                        @media all and (max-width: 1100px) {
                            right: 40px;
                        }
                    }
                    &.icon-3 {
                        top: 50%;
                        right: -21px;
                        border-color: #17a64e;
                        margin-top: -21px;
                        .first,
                        .second,
                        .third,
                        .fourth,
                        .bg {
                            background-color: #17a64e;
                        }
                        svg.icon {
                            fill: #17a64e;
                        }
                    }
                    &.icon-4 {
                        bottom: 15%;
                        right: 60px;
                        border-color: #76c6c8;
                        margin-bottom: -21px;
                        .first,
                        .second,
                        .third,
                        .fourth,
                        .bg {
                            background-color: #76c6c8;
                        }
                        svg.icon {
                            fill: #76c6c8;
                        }
                        @media all and (max-width: 1100px) {
                            right: 40px;
                        }
                    }
                    &.icon-5 {
                        bottom: 0;
                        left: 50%;
                        border-color: #6a16e8;
                        margin-bottom: -21px;
                        margin-left: -21px;
                        .first,
                        .second,
                        .third,
                        .fourth,
                        .bg {
                            background-color: #6a16e8;
                        }
                        svg.icon {
                            fill: #6a16e8;
                        }
                    }
                    &.icon-6 {
                        bottom: 15%;
                        left: 60px;
                        margin-bottom: -21px;
                        border-color: #ff7b7b;
                        .first,
                        .second,
                        .third,
                        .fourth,
                        .bg {
                            background-color: #ff7b7b;
                        }
                        svg.icon {
                            fill: #ff7b7b;
                        }
                        @media all and (max-width: 1100px) {
                            left: 40px;
                        }
                    }
                    &.icon-7 {
                        top: 50%;
                        left: -21px;
                        border-color: #98c21d;
                        margin-top: -21px;
                        .first,
                        .second,
                        .third,
                        .fourth,
                        .bg {
                            background-color: #98c21d;
                        }
                        svg.icon {
                            fill: #98c21d;
                        }
                    }
                    &.icon-8 {
                        top: 15%;
                        left: 60px;
                        border-color: #1daae6;
                        margin-top: -21px;
                        .first,
                        .second,
                        .third,
                        .fourth,
                        .bg {
                            background-color: #1daae6;
                        }
                        svg.icon {
                            fill: #1daae6;
                        }
                        @media all and (max-width: 1100px) {
                            left: 40px;
                        }
                    }
                    &.active {
                        transform: scale(1.35);
                        z-index: 100;
                        border-color: transparent !important;
                        svg.icon {
                            fill: white;
                        }
                        .bg {
                            width: 100%;
                            height: 100%;
                            left: 0;
                            top: 0;
                        }
                        .first,
                        .second,
                        .third,
                        .fourth {
                            content: '';
                            height: 100px;
                            width: 100px;
                            display: block;
                            border-radius: 100%;
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            margin-left: -50px;
                            margin-top: -50px;
                            opacity: 0.37;
                        }
                        .first {
                            z-index: -1;
                            animation: ping 3s linear infinite both;
                        }
                        .second {
                            z-index: -2;
                            animation: ping 3s linear infinite both;
                            animation-delay: 1s;
                        }
                        .third {
                            z-index: -3;
                            animation: ping 3s linear infinite both;
                            animation-delay: 2s;
                        }
                    }
                }
            }
            .slider-content {
                width: 63%;
                height: 63%;
                background: white;
                border-radius: 50%;
                text-align: center;
                padding: 30px;
                box-sizing: border-box;
                position: relative;
                z-index: 100;
                .logo {
                    width: 45%;
                    margin-bottom: 20px;
                    margin-top: 10px;
                    @media all and (max-width: 900px) {
                        margin-top: 0px;
                        margin-bottom: 5px;
                    }
                }
                .junior-slider {
                    width: 90%;
                    display: block;
                    margin: 0 auto;
                }
                .content-item {
                    padding: 10px 15px;
                    position: relative;
                    outline: 0;
                    font-size: 15px;
                    line-height: 1.5;
                    color: #736f6f;
                    @media all and (max-width: 900px) {
                        font-size: 13px;
                    }
                    .slide-transition {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        height: 100%;
                        width: 0%;
                        background: white;
                        @include transition(all 0.6s);
                        &.start {
                            width: 100%;
                        }
                        &.end {
                            width: 0%;
                            left: initial;
                            right: 0;
                        }
                    }
                    .heading {
                        font-size: 18px;
                        color: $color-junior-green;
                        font-weight: bold;
                        margin-bottom: 10px;
                        @media all and (max-width: 900px) {
                            font-size: 15px;
                        }
                    }
                }
            }
            .slider-buttons {
                width: 115px;
                position: absolute;
                bottom: 0;
                left: 50%;
                display: flex;
                align-items: center;
                justify-content: space-around;
                transform: translateX(-50%);
                margin-bottom: -10px;
                background: $color-junior-green;
                &:after {
                    content: '|';
                    color: white;
                    opacity: 0.2;
                    position: absolute;
                    left: 50%;
                    top: 0;
                    line-height: 42px;
                }
                button {
                    height: 42px;
                    width: 50%;
                    background: $color-junior-green;
                    border: none;
                    outline: 0;
                    color: white;
                    span {
                        opacity: 0.7;
                        @include transition(all 0.3s);
                    }
                    &:hover {
                        span {
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
}

#junior-page {
    @media all and (max-width: 1200px) {
        overflow-x: hidden;
    }
}

img.trava {
    width: 100%;
    margin-top: 100px;
    @media all and (max-width: 1200px) {
        width: 130%;
        margin-left: -15%;
    }
    @media all and (max-width: 1000px) {
        width: 160%;
        margin-left: -30%;
    }
    @media screen and (max-width: $screenMobile) {
        width: 230%;
        margin-left: -65%;
    }
}

.section-header {
    text-align: center;
    width: 80%;
    padding: 50px 0 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    &:not(.junior-heading) {
        @media all and (max-width:1200px) {
            width: 90% !important;
        }
        @media all and (max-width:768px) {
            width: 100% !important;
            p {
                width: 95%;
            }
        }
    }
    &:after {
        content: '';
        height: 40px;
        width: 1px;
        position: absolute;
        background: #d0d0d0;
        left: 50%;
        bottom: 10px;
    }
    h3 {
        margin: 0;
        padding: 10px;
        font-size: 2.8vw;
        line-height: 1.1;
        color: $color-junior-green;
        margin-bottom: 10px;
        @media all and (max-width:1200px) {
            font-size: 3.8vw;
        }
        @media all and (max-width:768px) {
            font-size: 24px;
            line-height: 1.25;
        }
    }
    p {
        width: 100%;
        line-height: 1.5;
        font-size: 13px;
        color: #736f6f;
    }
}

.junior-heading-cover {
    width: 0%;
    overflow: hidden;
    @include transition(all 2s);
    transition-delay: 0.5s;
    &.active {
        width: 100%;
    }
}

.section-content {
    width: 100%;
    padding: 80px 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    @media all and (max-width:768px) {
        padding: 30px 0;
    }
}

section.funkcionalnost {
    width: 100%;
    display: flex;
    justify-content: center;
    .parallax-wrap {
        width: 90%;
        max-width: $contentWidth;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: relative;
    }
    .section-header {
        padding-bottom: 60px;
        h3 {
            font-size: 2vw;
            margin-top: 15px;
            @media all and (max-width:1200px) {
            font-size: 3vw;
            }
            @media all and (max-width:768px) {
                font-size: 20px;
                line-height: 1.15;
                br {
                    display: none;
                }
            }
        }
        &:after {
            display: none;
        }
        .social {
            margin-top: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 15px;
            .icon {
                height: 42px;
                width: 42px;
                display: block;
                background-color: #b8b8b8;
                margin: 10px;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                @include transition(all 0.5s);
                svg {
                    height: 20px;
                    width: 20px;
                    fill: white;
                    &.fb {
                        height: 23px;
                        width: 23px;
                    }
                }
                &:hover {
                    background: $color-junior-green;
                }
            }
        }
    }
    .section-content {
        flex-direction: column;
        .social {
            margin-top: 100px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 15px;
            .icon {
                height: 42px;
                width: 42px;
                display: block;
                background-color: #b8b8b8;
                margin: 10px;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                @include transition(all 0.5s);
                svg {
                    height: 20px;
                    width: 20px;
                    fill: white;
                    &.fb {
                        height: 23px;
                        width: 23px;
                    }
                }
                &:hover {
                    background: $color-junior-green;
                }
            }
        }
    }
}
.junior-slider-mobile {
    width: 100%;
    overflow: hidden;
    position: relative;
    padding-bottom: 40px;
    text-align: center;
    .logo {
        width: 120px;
        display: block;
        margin: 0 auto 15px;
    }
    img.mobile-shadow {
        width: 100%;
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: -1;
    }
    .slick-list {
        padding-top: 40px !important;
    }
    .icons-slider {
        overflow: hidden;
    }
    .content-slider {
        .slick-list {
            padding-top: 10px !important;
        }
        .item {
            padding: 0 20px;
            font-size: 13px;
            .heading {
                font-size: 16px;
                margin-bottom: 10px;
                font-weight: bold;
                color: #001c44;
            }
            p {
                color: #736f6f;
                font-size: 14px;
                line-height: 1.4;
            }
            .slide-transition {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 0%;
                background: white;
                @include transition(all 0.6s);
                &.start {
                    width: 100%;
                }
                &.end {
                    width: 0%;
                    left: initial;
                    right: 0;
                }
            }
        }
    }
    .icons {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        list-style-type: none;
        position: relative;
        // overflow: hidden;
        &:before {
            content: '';
            height: 150vw;
            width: 150vw;
            border-radius: 50%;
            border: 1px solid #d0d0d0;
            position: absolute;
            top: -100%;
            left: -25vw;
            transform: translateY(-50%);
        }
        .item {
            height: 150px;
            display: flex;
            align-items: center;
            justify-content: center;
            outline: 0;
            @include transition(all 0.5s);
            &:not(.slick-center) {
                transform: translateY(-17%);
            }
        }
        .icon {
            height: 50px;
            width: 50px;
            border-radius: 50%;
            border: 1px solid black;
            position: relative;
            background: white;
            z-index: 100;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            // overflow: hidden;
            @include transition(all 0.5s);
            svg {
                height: 28px;
                width: 28px;
                fill: black;
                position: relative;
                z-index: 2;
                @include transition(all 0.3s);
            }
            .bg {
                height: 100%;
                width: 100%;
                position: absolute;
                top: 0;
                left: 0%;
                border-radius: 50%;
                z-index: 1;
                transform: scale(0);
                @include transition(all 0.5s);
            }
            &.icon-1 {
                border-color: #f6a321;
                .first,
                .second,
                .third,
                .bg {
                    background-color: #f6a321;
                }
                svg {
                    fill: #f6a321;
                }
            }
            &.icon-2 {
                border-color: #951b81;
                .first,
                .second,
                .third,
                .bg {
                    background-color: #951b81;
                }
                svg {
                    fill: #951b81;
                }
                @media all and (max-width: 1100px) {
                    // right: 40px;
                }
            }
            &.icon-3 {
                border-color: #009d3d;
                .first,
                .second,
                .third,
                .bg {
                    background-color: #009d3d;
                }
                svg {
                    fill: #009d3d;
                }
            }
            &.icon-4 {
                border-color: #75c6c8;
                .first,
                .second,
                .third,
                .bg {
                    background-color: #75c6c8;
                }
                svg {
                    fill: #75c6c8;
                }
            }
            &.icon-5 {
                border-color: #5c00e6;
                .first,
                .second,
                .third,
                .bg {
                    background-color: #5c00e6;
                }
                svg {
                    fill: #5c00e6;
                }
            }
            &.icon-6 {
                border-color: #ff7a7a;
                .first,
                .second,
                .third,
                .bg {
                    background-color: #ff7a7a;
                }
                svg {
                    fill: #ff7a7a;
                }
            }
            &.icon-7 {
                border-color: #98c21d;
                .first,
                .second,
                .third,
                .bg {
                    background-color: #98c21d;
                }
                svg {
                    fill: #98c21d;
                }
            }
            &.icon-8 {
                border-color: #009fe3;
                .first,
                .second,
                .third,
                .bg {
                    background-color: #009fe3;
                }
                svg {
                    fill: #009fe3;
                }
            }
        }
        .slick-center {
            .icon {
                transform: scale(1.5);
                z-index: 100;
                border-color: transparent !important;
                svg {
                    fill: white;
                }
                .bg {
                    width: 100%;
                    height: 100%;
                    left: 0;
                    top: 0;
                    transform: scale(1);
                }
                .first,
                .second,
                .third {
                    content: '';
                    height: 100px;
                    width: 100px;
                    display: block;
                    border-radius: 100%;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    margin-left: -50px;
                    margin-top: -50px;
                    opacity: 0.37;
                }
                .first {
                    z-index: -1;
                    animation: ping 3s linear infinite both;
                }
                .second {
                    z-index: -2;
                    animation: ping 3s linear infinite both;
                    animation-delay: 1s;
                }
                .third {
                    z-index: -3;
                    animation: ping 3s linear infinite both;
                    animation-delay: 2s;
                }
            }
        }
    }
    .sku-arrows
    {
        width: 124px;
        display: inline-block;
        color: white;
        z-index: 100;
        margin-top: 30px;
        @media screen and (max-width: $screenMobile) {
            position: relative;
            padding-bottom: 30px;
        }
        .pages
        {
            margin-top: 70px;
            color: $color-darkBlue;
            .current-page
            {
                font-weight: 700;
                color: $color-junior-orange;
            }
        }
        .arrows
        {
            width: 100%;
            display: flex;
            background: $color-junior-green;
            overflow: hidden;
            position: absolute;
            left: 0;
            top: 0;
            .arrow, .delimiter
            {
                background: transparent;
                user-select: none;
            }
            .arrow
            {
                outline: none;
                border: none;
                padding: 15px 20px;
                min-width: 60px;
                opacity: .3;
                @include transition(all .5s);
                &:hover
                {
                    opacity: 1;
                }
            }
            .delimiter
            {
                padding: 15px 0;
                pointer-events: none;
                opacity: .25;
            }
        }
    }
}


@keyframes ping {
    0% {
        transform: scale(0.2);
        opacity: 0.6;
    }
    100% {
        transform: scale(1.1);
        opacity: 0;
    }
}
#container {
  position: absolute;
  width: 154%;
  height: 154%;
}

#halfclip {
    width: 50%;
    height: 100%;
    right: 0px;
    position: absolute;
    overflow: hidden;
    transform-origin: left center;
}

#container.active #halfclip {
    animation: cliprotate 1.5s 1;
    transform: rotate(180deg);
}

@keyframes cliprotate {
  0% {transform: rotate(0deg);}
  50% {transform: rotate(0deg);}
  50.01% {transform: rotate(180deg);}
  100% {transform: rotate(180deg);}
}

.halfcircle {
    box-sizing: border-box;
    height: 100%;
    right: 0px;
    position: absolute;
    border: solid 1px transparent;
    border-top-color: #d0d0d0;
    border-left-color: #d0d0d0;
    border-radius: 50%;
}

#clipped {
    width: 200%;
    transform: rotate(-45deg);
}
#container.active #clipped {
    transform: rotate(135deg);
    animation: rotate 0.75s linear 2;
}


@keyframes rotate {
  0% {transform: rotate(-45deg);}
  100% {transform: rotate(135deg);}
}


#fixed {
  width: 100%;
    transform: rotate(135deg);
    opacity: 0;
}

#container.active #fixed {
    opacity: 1;
    animation: showfixed 1.5s 1;
}



@keyframes showfixed {
  0% {opacity: 0;}
  49.99% {opacity: 0;}
  50% {opacity: 1;}
 100% {opacity: 1;}
}



