#kontakt-page
{
	#kontakt-forma-saradnja
	{
		width: 100%;
		display: flex;
		justify-content: center;
		.wrap
		{
			width: 90%;
			max-width: 960px;
			display: flex;
			justify-content: center;
			align-items: center;
			.forma
			{
				width: 100%;
				background: white;
				box-shadow: 0 5px 50px rgba(0,0,0,.25);
				padding: 50px 0 25px;
				display: flex;
				flex-wrap: wrap;
				#forma-saradnja
				{
					width: 100%;
					margin: 0 2.5% 0 5%;
					@media screen and (max-width: $screenMobile) {
						margin: 0 5% 0 5%;
					}
					input
					{
						border: none;
						outline: none;
						padding: 30px 20px;
						background: $color-inputGray;
						color: $color-darkBlue;
						float: left;
						width: calc(46% - 40px);
						margin: 15px 2.5% 15px 0;
						font-weight: 400;
						&:nth-child(2), &:last-child
						{
							margin: 15px 0 15px 2.5%;
						}
						@media screen and (max-width: $screenMobile) {
							width: calc(100% - 40px);
							margin: 15px 0;
							&:nth-child(2), &:last-child
							{
								margin: 15px 0;
							}
						}
					}
				}
				textarea
				{
					border: none;
					outline: none;
					resize: none;
					padding: 20px;
					background: $color-inputGray;
					color: $color-darkBlue;
					width: calc(87.5% - 190px);
					margin: 15px 2.5% 15px 5%;
					height: 110px;
					font-weight: 400;
					@media screen and (max-width: $screenMobile) {
						width: calc(100% - 40px);
						margin: 15px 5%;
					}
				}
				#forma-saradnja-file
				{
					width: 150px;
					height: 150px;
					border: 1px solid $color-inputGray;
					margin-top: 15px;
					position: relative;
					@media screen and (max-width: $screenMobile) {
						width: 100%;
						margin: 15px 5%;
					}
					.upload-percent
					{
						width: 0;
						height: 100%;
						position: absolute;
						background: $color-inputGray;
					}
					.input-file
					{
						display: none;
					}
					.input-file-label
					{
						width: 100%;
						height: 100%;
						display: flex;
						align-items: center;
						justify-content: center;
						flex-direction: column;
						position: relative;
						cursor: pointer;
						span
						{
							position: absolute;
							bottom: 10px;
							font-size: 11px;
							color: $color-gray;
						}
					}
				}
				.status
				{
					font-size: 11px;
					color: $color-appleGreen;
					width: 100%;
					text-align: center;
				}
				.error
				{
					font-size: 11px;
					color: #bf2026;
					width: 100%;
					text-align: center;
				}
				.button-wrap
				{
					width: 100%;
					display: flex;
					justify-content: center;
					margin-top: 2.5%;
					padding: 0 5%;
					.submit
					{
						border: none;
						outline: none;
						text-decoration: none;
						padding: 15px 40px;
						background-color: $color-darkBlue;
						color: white;
						font-size: 13px;
						font-weight: 700;
						@include transition(background .25s);
						&:hover
						{
							background-color: $color-appleGreen;
							@media screen and (max-width: $screenMobile) {
								background-color: $color-darkBlue;
							}
						}
						&:active
						{
							@media screen and (max-width: $screenMobile) {
								background-color: $color-appleGreen;
							}
						}
					}	
				}
			}
		}
		.dropdown
		{
			width: 46%;
			position: relative;
			float: left;
			margin: 15px 2.5% 15px 0;
			@media screen and (max-width: $screenMobile) {
				width: 100%;
				margin: 15px 0;
			}
			.dropbtn
			{
				background-color: white;
				color: $color-darkBlue;
				padding: 30px 20px;
				font-size: 13px;
				font-weight: 400;
				outline: none;
				border: 1px solid $color-inputGray;
				cursor: pointer;
				width: calc(100% - 85px);
				text-align: left;
				float: left;
			}
			.arrow
			{
				width: 85px;
				display: flex;
				justify-content: center;
				padding: 36px 0;
				background: $color-inputGray;
				cursor: pointer;
				// span
				// {
				// 	transform: rotate(90deg);
				// }
			}
			.dropdown-content
			{
				display: none;
				position: absolute;
				background-color: white;
				width: 100%;
				box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
				z-index: 1;
				a
				{
					color: $color-darkBlue;
					font-size: 12px;
					padding: 20px;
					text-decoration: none;
					// text-align: center;
					display: block;
					cursor: pointer;
					border-top: 1px solid white;
					@include transition(all .25s);
					&:hover
					{
						background-color: $color-appleGreen;
						color: white;
						font-weight: 700;
					}
				}
			}
			&:hover
			{
				.dropdown-content
				{
					display: block;
				}
			}
			&.opened
			{
				opacity: 1;
				pointer-events: all;
				transform: translateY(0);
			}
		}
	}
}