#kontakt-page
{
	#kontakt-info
	{
		margin: 100px;
    	font-size: 13.5px;
		@media screen and (max-width: $screenMobile) {
			margin: 100px 5%;
			text-align: center;
		}
    	.wrap
    	{
			display: flex;
			flex-direction: column;
			align-items: center;
			color: $color-darkBlue;
			.title
			{
				padding: 15px;
			}
			.address
			{
				padding: 0 0 35px;
			}
			.contact
			{
				padding: 5px;
			}
    	}
	}
}