#kontakt-page
{
	#kontakt-title
	{
		width: 100%;
		display: flex;
		justify-content: center;
		margin-top: 100px;
		@media screen and (max-width: $screenMobile) {
			margin-top: 0;
			padding-top: 100px;
		}
		h2
		{
			color: $color-darkBlue;
			font-size: 46px;
			font-weight: 700;
			@media screen and (max-width: $screenMobile) {
				text-align: center;
				font-size: 9vw;
			}
		}
	}
}