#kontakt-filter
{
	width: 100%;
	display: flex;
	justify-content: center;
	margin: 40px 0 0;
    transform: translateY(50%);
	.wrap
	{
		width: 90%;
		max-width: $contentWidth;
		display: flex;
		justify-content: center;
		align-items:center;
		.filter-btn
		{
			outline: none;
			border: none;
			text-decoration: none;
			background-color: white;
			color: $color-darkBlue;
			padding: 15px 0;
			font-size: 13px;
			font-weight: 700;
			cursor: pointer;
			width: 120px;
			margin: 0 15px;
			position: relative;
			box-shadow: 0 5px 30px rgba(0,0,0,.25);
			@include transition(all .25s);
			.line
			{
				width: 1px;
				height: 50px;
				background: $color-appleGreen;
				display: block;
				position: absolute;
				left: 50%;
				top: 0;
				transform-origin: center bottom;
				transform: translateY(-80%) scaleY(0);
				@include transition(transform .25s);
			}
			&.active
			{
				background-color: $color-darkBlue;
				color: white;
				cursor: default;
				.line
				{
					transform: translateY(-80%) scaleY(1);
				}
				&:hover
				{
					background-color: $color-darkBlue;
					color: white;
				}
				&:active
				{
					background-color: $color-darkBlue;
					color: white;
				}
			}
			&:hover
			{
				background-color: $color-appleGreen;
				color: white;
				@media screen and (max-width: $screenMobile) {
					background-color: white;
					color: $color-darkBlue;
				}
			}
			&:active
			{
				@media screen and (max-width: $screenMobile) {
					background-color: $color-appleGreen;
					color: white;
				}
			}
		}
	}
}