#kontakt-page
{
	#kontakt-forma-informacije
	{
		width: 100%;
		display: flex;
		justify-content: center;
		.wrap
		{
			width: 90%;
			max-width: 960px;
			display: flex;
			justify-content: center;
			align-items: center;
			.forma
			{
				width: 100%;
				background: white;
				box-shadow: 0 5px 50px rgba(0,0,0,.25);
				padding: 65px 0 25px;
				display: flex;
				flex-wrap: wrap;
				form
				{
					width: 42.5%;
					margin: 0 2.5% 0 5%;
					@media screen and (max-width: $screenMobile) {
						width: 90%;
					}
					input
					{
						border: none;
						outline: none;
						padding: 30px 20px;
						background: $color-inputGray;
						color: $color-darkBlue;
						float: left;
						width: calc(100% - 40px);
						margin: 15px 0;
						font-weight: 400;
						&:nth-child(1)
						{
							margin: 0 0 15px;
						}
						&:last-child
						{
							margin: 15px 0 0;
						}
					}
				}
				textarea
				{
					border: none;
					outline: none;
					resize: none;
					padding: 30px 20px;
					background: $color-inputGray;
					color: $color-darkBlue;
					width: calc(42.5% - 40px);
					margin: 0 5% 0 2.5%;
					font-weight: 400;
					@media screen and (max-width: $screenMobile) {
						width: 90%;
						margin: 15px 5% 0 5%;
						padding: 30px 20px 100px;
					}
				}
				.button-wrap
				{
					width: 100%;
					display: flex;
					justify-content: center;
					margin-top: 2.5%;
					padding: 0 5%;
					position: relative;
					@media screen and (max-width: $screenMobile) {
						flex-direction: column;
						align-items: center;
					}
					.msg
					{
						position: absolute;
						left: 5%;
						display: flex;
						flex-direction: column;
						justify-content: center;
						height: 100%;
						@media screen and (max-width: $screenMobile) {
							position: initial;
						}
						.status
						{
							font-size: 11px;
							color: $color-appleGreen;
							width: 100%;
							text-align: left;
							@media screen and (max-width: $screenMobile) {
								text-align: center;
							}
						}
						.error
						{
							font-size: 11px;
							color: #bf2026;
							width: 100%;
							text-align: left;
							@media screen and (max-width: $screenMobile) {
								text-align: center;
							}
						}
					}
					.submit
					{
						border: none;
						outline: none;
						text-decoration: none;
						padding: 15px 40px;
						background-color: $color-darkBlue;
						color: white;
						font-size: 13px;
						font-weight: 700;
						@include transition(background .25s);
						&:hover
						{
							background-color: $color-appleGreen;
							@media screen and (max-width: $screenMobile) {
								background-color: $color-darkBlue;
							}
						}
						&:active
						{
							@media screen and (max-width: $screenMobile) {
								background-color: $color-appleGreen;
							}
						}
						@media screen and (max-width: $screenMobile) {
							width: 120px;
							height: 60px;
						}
					}	
				}
			}
		}
	}
}