#sertifikati-page
{
	#sertifikati-content
	{
		width: 100%;
		display: flex;
		justify-content:center;
		flex-wrap: wrap;
		.back-btn-wrap
		{
			width: 90%;
			margin: 30px 0;
			display: flex;
			@media screen and (max-width: $screenMobile) {
				margin: 80px 0 30px;
			}
			a
			{
				display: flex;
				align-items: center;
				svg
				{
					margin-right: 15px;
					stroke: $color-darkBlue;
				}
				span
				{
					text-transform: uppercase;
					color: $color-darkBlue;
					font-weight: 400;
				}
				&:hover
				{
					svg
					{
						stroke: $color-appleGreen;
					}
					span
					{
						color: $color-appleGreen;
					}
				}
			}
		}
		.wrap
		{
			width: 90%;
			max-width: $contentWidth;
			display: flex;
			flex-wrap: wrap;
			justify-content: flex-start;
			.item
			{
				width: 29%;
				position: relative;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: flex-end;
				margin: 0 2% 70px;
				cursor: pointer;
				box-shadow: 0 20px 80px rgba(0, 0, 0, .15);
				background: white;
				@include transition(all .2s);
				@media screen and (max-width: $screenMobile) {
					width: 100%;
					margin: 15px 0;
				}
				.image
				{
					position: relative;
					width: 100%;
					display: flex;
					align-items: center;
					img
					{
						width: 100%;
					}
					.light-overlay
					{
						width: 100%;
						height: 100%;
						position: absolute;
						background: linear-gradient(rgba(255,255,255,0),rgba(0,0,0,.1) 60%,rgba(0,0,0,.15) 90%);
						top: 0;
						left: 0;
					}
					.dark-overlay
					{
						width: 100%;
						height: 100%;
						background: rgba(4,23,49, .9);
						position: absolute;
						opacity: 0;
						top: 0;
						display: flex;
						flex-direction: column;
						justify-content: center;
						align-items: center;
						top: 0;
						left: 0;
						@include transition(all .2s);
						.inspect
						{
							width: 20%;
							margin: 1vw 0;
						}
						.time
						{
							color: white;
							font-size: 1.2vw;
							font-weight: 700;
						}
					}
				}
				.text
				{
					text-align: center;
					padding: 10px 25px;
					position: relative;
					z-index: 10;
					opacity: 0.5;
					@media screen and (max-width: $screenMobile) {
						padding: 15px 25px;
					}
					h4
					{
						font-size: 0.8vw;
						font-weight: 400;
						line-height: 1vw;
						color: $color-gray;
						margin: .5vw 0;
						@media screen and (max-width: $screenMobile) {
							font-size: 4vw;
							line-height: 4vw;
						}
					}
				}
				&:hover
				{
					transform: translateY(-10px);
					box-shadow: 0 20px 80px rgba(0, 0, 0, .45);
					.dark-overlay
					{
						opacity: 1;
					}
					.text
					{
						opacity: 1;
						h4
						{
							font-weight: 700;
							color: $color-darkBlue;
						}
					}
				}
			}
		}
	}
	#pagination
	{
		margin-bottom: 250px;
		@media screen and (max-width: $screenMobile) {
			margin-bottom: 100px;
		}
	}
}