#junior-page,
#sku-proizvodi-page
{
	#sku-proizvodi-slider
	{
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		padding-bottom: 50px;
		margin-top: 100px;
		@media screen and (max-width: $screenMobile) {
			margin-top: 0;
		}
		.slick-track
		{
			margin: 0 auto;
		}
		.sku-wrap
		{
			width: 90%;
			max-width: $contentWidth;
			background: white;
			box-shadow: 0 0 100px rgba(0,0,0,.25);
			@media screen and (max-width: $screenMobile) {
				width: 100%;
			}
			.slick-list, .slick-track
			{
				display: flex;
			}
		}
		.slider-wrap
		{
			position: relative;
			z-index: 10;
			@media screen and (max-width: $screenMobile) {
				display: flex;
				flex-direction: column;
			}
			.sku-slider
			{
				padding: 100px 50px 20px;
				// padding-bottom: 20px;
				@media screen and (max-width: $screenMobile) {
					padding: 80px 10px 20px;
					order: 1;
				}
				.item
				{
					position: relative;
					outline: none;
					height: 100%;
					min-height: 450px;
					display: flex;
					flex-direction: column;
					justify-content: flex-end;
					align-items: center;
					transform: scale(0.5);
					opacity: 0.5;
					cursor: pointer;
					-webkit-tap-highlight-color: rgba(0,0,0,0);
					@include transition(all .5s);
					@media screen and (max-width: $screenMobile) {
						min-height: 350px;
					}
					.text
					{
						width: 90%;
						height: 150px;
						margin-top: 25px;
						color: $color-gray;
						opacity: 0;
						text-align: center;
						@include transition(opacity .5s);
						// position: absolute;
						// transform: translateY(-100%);
						// margin: -35px 0 0 35px;
						h4
						{
							color: $color-darkBlue;
							font-size: 23px;
							// line-height: 3vw;
						}
						p
						{
							margin-top: 15px;
							font-size: 14px;
						}
						@media screen and (max-width: $screenMobile) {
							height: 120px;
						}
					}
					&.slick-center
					{
						transform: scale(1);
						opacity: 1;
						.text
						{
							opacity: 1;
						}
						.social
						{
							opacity: 1;
							pointer-events: all;
						}
					}
				}
			}
			.social
			{
				width: 100%;
				display: flex;
				justify-content: center;
				margin: 5px 0;
				// opacity: 0;
				// pointer-events: none;
				@media screen and (max-width: $screenMobile) {
					order: 3;
				}
				@include transition(opacity .5s);
				a
				{

					svg
					{
						padding: 10px;
						width: 35px;
						height: 35px;
					}
					.circle
					{
						fill: $color-socialGray;
					}
					.icon
					{
						fill: white;
					}
					&:hover
					{
						background: radial-gradient(rgba(0,0,0,.1) 30%,transparent,transparent);
						.circle
						{
							fill: white;
						}
						.icon
						{
							fill: $color-appleGreen;
						}
					}
					@media screen and (max-width: $screenMobile) {


						&:hover
						{
							background: none;
							.circle
							{
								fill: $color-socialGray;
							}
							.icon
							{
								fill: white;
							}
						}
						&:active
						{
							background: radial-gradient(rgba(0,0,0,.1) 30%,transparent,transparent);
							.circle
							{
								fill: white;
							}
							.icon
							{
								fill: $color-appleGreen;
							}
						}
					}
				}
			}
			.line
			{
				width: 70px;
				height: 1px;
				background: $color-darkBlue;
				position: absolute;
				top: 50%;
				@media screen and (max-width: $screenMobile) {
					display: none;
				}
				&.right
				{
					right: 0;
					transform: translateX(50%);
				}
				&.left
				{
					transform: translateX(-50%);
				}
			}
			.sku-arrows
			{
				display: flex;
				flex-direction: column;
				align-items: center;
				position: absolute;
				left: 50%;
				transform: translate(-50%,-25%);
				color: white;
				z-index: 100;
				@media screen and (max-width: $screenMobile) {
					transform: translate(-50%, 0);
					position: relative;
					padding-bottom: 30px;
					order: 2;
				}
				.pages
				{
					margin-top: 15px;
					color: $color-darkBlue;
					.current-page
					{
						font-weight: 700;
						color: $color-appleGreen;
					}
				}
				.arrows
				{
					display: flex;
					background: $color-darkBlue;
					.arrow, .delimiter
					{
						background: transparent;
						user-select: none;
					}
					.arrow
					{
						outline: none;
						border: none;
						padding: 15px 20px;
						width: 60px;
						opacity: .3;
						@include transition(all .5s);
						&:hover
						{
							opacity: 1;
						}
					}
					.delimiter
					{
						padding: 15px 0;
						pointer-events: none;
						opacity: .25;
					}
				}
			}
		}
		.info
		{
			.slick-initialized .slick-slide
			{
				@media screen and (max-width: $screenMobile) {
					display: flex;
					flex-wrap: wrap-reverse;
				}
			}
			.tabs
			{
				display: flex;
				@media screen and (max-width: $screenMobile) {
					display: none;
				}
				.tab
				{
					width: 100%;
					text-align: center;
					background: $color-lightGray;
					color: $color-darkBlue;
					border-bottom: 2px solid $color-darkBlue;
					font-size: 18px;
					font-weight: 700;
					padding: 10px 0;
					cursor: pointer;
					@include transition(all .25s);
					&.active
					{
						background: $color-darkBlue;
						color: white;
						cursor: default;
					}
				}
			}
			.product-info
			{
				display: none;
				@media screen and (max-width: $screenMobile) {
					width: 100%;
					display: flex;
				}
				.th
				{
					display: flex;
					@media screen and (max-width: $screenMobile) {
						width: 50%;
						flex-direction: column;
					}
					.item
					{
						width: 10.5%;
						height: 160px;
						display: flex;
						justify-content: center;
						align-items: center;
						font-size: 13px;
						font-weight: 700;
						border: 1px solid $color-lightGray;
						padding: 0 1%;
						text-align: center;
						@media screen and (max-width: $screenMobile) {
							width: auto;
							border-bottom: none;
							padding: 0 2%;
							&:last-child {
								border-bottom: 1px solid $color-lightGray;
							}
						}
					}
				}
				.tr
				{
					display: flex;
					@media screen and (max-width: $screenMobile) {
						width: 50%;
						flex-direction: column;
					}
					.item
					{
						width: 10.5%;
						height: 100px;
						display: flex;
						justify-content: center;
						align-items: center;
						font-size: 12px;
						color: $color-gray;
						border: 1px solid $color-lightGray;
						padding: 0 1%;
						text-align: center;
						@media screen and (max-width: $screenMobile) {
							width: auto;
							height: 160px;
							border-bottom: none;
							border-left: none;
							padding: 0 2%;
							&:last-child {
								border-bottom: 1px solid $color-lightGray;
							}
						}
					}
				}
				&.active
				{
					display: initial;
					@media screen and (max-width: $screenMobile) {
						display: flex;
					}
				}
			}
			.video-campaign
			{
				display: none;
				@media screen and (max-width: $screenMobile) {
					display: initial;
					width: 100%;
				}
				&.active
				{
					display: initial;
				}
			}
		}
	}
}