#izvestaji-page
{
	#content
	{
		width: 100%;
		display: flex;
		justify-content: center;
		margin: 100px 0;
		@media screen and (max-width: $screenMobile) {
			margin: 0;
			padding: 100px 0 0;
		}
		.wrap
		{
			width: 90%;
			max-width: $contentWidth;
			.item
			{
				display: flex;
				border: 1px solid white;
				border-left: none;
				border-right: none;
				margin-top: -1px;
				@media screen and (max-width: $screenMobile) {
					flex-direction: column;
				}
				.date
				{
					width: 15%;
					text-align: center;
					padding: 10px 0;
					background: $color-darkBlue;
					color: white;
					@media screen and (max-width: $screenMobile) {
						width: 100%;
					}
				}
				.label
				{
					padding: 10px 30px;
					width: 85%;
					background: $color-lightGray;
					color: $color-darkBlue;
					display: flex;
					justify-content: space-between;
					align-items: center;
					@media screen and (max-width: $screenMobile) {
						width: calc(100% - 60px);
					}
					.arrow
					{
						visibility: hidden;
					}
				}
				&:hover
				{
					.date
					{
						background: $color-appleGreen;
						font-weight: 700;
					}
					.label
					{
						font-weight: 400;
						background: #f8f8f8;
						.arrow
						{
							visibility: visible;
						}
					}
				}
			}
		}
	}
}