#footer
{
	width: 100%;
	display: flex;
	justify-content: center;
	margin-top: 5vh;
	flex-wrap: wrap;
	position: relative;
	.sitemap
	{
		width: 90%;
		max-width: 1440px;
		display: flex;
		justify-content: center;
		align-items: flex-start;
		flex-wrap: wrap;
		color: $color-darkBlue;
		@media screen and (max-width: $screenMobile) {
			display: none;
		}
		h3
		{
			width: 100%;
			text-align: center;
		}
		ul
		{
			list-style: none;
			width: 10%;
			margin: 15px 0;
			text-align: center;
			font-weight: 400;
			// font-size: 0.7vw;
			font-size: 13.5px;
			&.bordered, &.bordered-left, &.bordered-right
			{
				width: 12%;
				@media screen and (max-width: 1080px) {
					width: 19%;
				}
			}
			&.bordered
			{
				border: 1px solid $color-lightGray;
				border-top: none;
				border-bottom: none;
			}
			&.bordered-left
			{
				border-left: 1px solid $color-lightGray;
			}
			&.bordered-right
			{
				border-right: 1px solid $color-lightGray;
			}
			&.left
			{
				text-align: left;
				margin-left: 1.5%;
			}
			&.right
			{
				text-align: right;
				margin-right: 1.5%;
			}
			li
			{
				margin: 10px 0;
				a
				{
					&:hover
					{
						color: $color-appleGreen;
					}
				}
			}
		}
	}
	.sitemap-mobile
	{
		width: 90%;
		max-width: 1440px;
		display: none;
		justify-content: center;
		align-items: flex-start;
		flex-wrap: wrap;
		color: $color-darkBlue;
		@media screen and (max-width: $screenMobile) {
			display: flex;
		}
		h3
		{
			width: 100%;
			text-align: center;
		}
		ul
		{
			list-style: none;
			width: 100%;
			margin: 15px 0;
			text-align: center;
			font-weight: 400;
			font-size: 20px;
			li
			{
				margin: 10px 0;
				a
				{
					&:active
					{
						color: $color-appleGreen;
					}
				}
			}
		}
	}
	.social
	{
		width: 100%;
		display: flex;
		justify-content: center;
		margin: 25px 0;
		a
		{
			svg
			{
				padding: 10px;
				width: 45px;
				height: 45px;
			}
			.circle
			{
				fill: $color-socialGray;
			}
			.icon
			{
				fill: white;
			}
			&:hover
			{
				background: radial-gradient(rgba(0,0,0,.1) 30%,transparent,transparent);
				.circle
				{
					fill: white;
				}
				.icon
				{
					fill: $color-appleGreen;
				}
			}
			@media screen and (max-width: $screenMobile) {
				&:hover
				{
					background: none;
					.circle
					{
						fill: $color-socialGray;
					}
					.icon
					{
						fill: white;
					}
				}
				&:active
				{
					background: radial-gradient(rgba(0,0,0,.1) 30%,transparent,transparent);
					.circle
					{
						fill: white;
					}
					.icon
					{
						fill: $color-appleGreen;
					}
				}
			}
		}
	}
	.copy
	{
		width: 100%;
		background: $color-darkBlue;
		display: flex;
		justify-content: center;
		p
		{
			font-size: 12px;
			padding: 1.5vw 0;
			color: white;
			@media screen and (max-width: $screenMobile) {
				font-size: 3.2vw;
				padding: 3vh 0;
			}
		}
	}
	img.grass {
		width: 100%;
		display: none;
		position: absolute;
		left: 0;
		bottom: 0;
		z-index: -1;
		@media all and (max-width: 1400px) {
			bottom: 10px;
		}
		@media all and (max-width: 1250px) {
			bottom: 20px;
		}
		@media all and (max-width: 960px) {
			bottom: 35px;
		}
	}
	img.cow {
		position: absolute;
		bottom: 180px;
		right: 0;
		display: none;
		z-index: -2;
		@media all and (max-width: 1200px) {
			bottom: 70px;
			width: 180px;
		}
	}
	img.tree {
		position: absolute;
		bottom: 180px;
		left: 20px;
		display: none;
		z-index: -2;
	}
	img.cow,
	img.tree {
		@media all and (max-width: 1700px) {
			bottom: 140px;
		}
		@media all and (max-width: 1500px) {
			bottom: 110px;
		}
		@media all and (max-width: 1320px) {
			bottom: 90px;
		}
		@media all and (max-width: 1100px) {
			display: none !important;
		}
	}
	&.junior-footer {
		img.cow,
		img.tree,
		img.grass {
			display: block;
		}
		@media all and (max-width: 768px) {
			overflow: hidden;
			img.grass {
			    width: 180%;
			    left: -32%;
				bottom: 40px;
			}
		}
	}
}