#header-mobile
{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	z-index: 1000;
	background: white;
	// position: absolute;
	display: none;
	@media screen and (max-width: $screenMobile) {
		@include transition(background 1s 1s);
		background: transparent;
		height: 100vh;
		position: fixed;
		pointer-events: none;
		display: initial;
		overflow: scroll;
	}
	&.header-shadow
	{
		box-shadow: 0 0 150px rgba(0, 0, 0, .4);
		@media screen and (max-width: $screenMobile) {
			box-shadow: none;
			.mobile-blob
			{
				svg
				{
					path
					{
						fill: $color-darkBlue !important;
					}
				}
			}
			#hamburger-mobile
			{
				&.closed
				{
					span
					{
						background: white !important;
					}
				}
			}
		}
	}
	&.opened
	{
		// background: white;
		pointer-events: all;
		#navigation-mobile
		{
			transform: translateY(0);
		}
	}
	.mobile-blob
	{
		position: absolute;
		top: 0;
		left: 0;
		padding: 0;
		margin-left: 50%;
		transform: translateX(-50%);
		.shadow
		{
			background: radial-gradient(rgba(0,0,0,.1) 10%,transparent,transparent);
			width: 240px;
			height: 180px;
			position: absolute;
			z-index: -1;
			top: -80px;
			left: -35px;
			@include transition(height 1s);
		}
		svg
		{
			@include transition(all 1s);
			transform-origin: 50% 0;
			transform: scaleY(1);
		}
		&.opened
		{
			.shadow
			{
				height: 0;
			}
			svg
			{
				transform: scaleY(0);
			}
		}
	}
	#milk-blob-mob
	{
		position: absolute;
		top: 65px;
		padding: 0;
		width: 185px;
		left: 3px;
		margin-left: 50%;
		transform: translateX(-50%);
		pointer-events: none;
		@media screen and (max-width: $screenMobile) {
			top: 0;
		}
	}
	.social
	{
		width: 100%;
		display: flex;
		justify-content: center;
		margin: 25px 0;
		@media screen and (max-width: 360px) {
			margin: 0;
		}
		a
		{
			svg
			{
				padding: 10px;
				width: 45px;
				height: 45px;
			}
			.circle
			{
				fill: $color-socialGray;
			}
			.icon
			{
				fill: white;
			}
			&:hover
			{
				background: radial-gradient(rgba(0,0,0,.1) 30%,transparent,transparent);
				.circle
				{
					fill: white;
				}
				.icon
				{
					fill: $color-appleGreen;
				}
			}
			@media screen and (max-width: $screenMobile) {
				&:hover
				{
					background: none;
					.circle
					{
						fill: $color-socialGray;
					}
					.icon
					{
						fill: white;
					}
				}
				&:active
				{
					background: radial-gradient(rgba(0,0,0,.1) 30%,transparent,transparent);
					.circle
					{
						fill: white;
					}
					.icon
					{
						fill: $color-appleGreen;
					}
				}
			}
		}
	}
}