#header
{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	z-index: 1000;
	background: white;
	// position: absolute;
	@media screen and (max-width: $screenMobile) {
		// @include transition(background 1s 1s);
		// background: transparent;
		// height: 100vh;
		// position: fixed;
		// pointer-events: none;
		display: none;
	}
	&.header-shadow
	{
		box-shadow: 0 0 150px rgba(0, 0, 0, .4);
	}
	&.opened
	{
		background: white;
		pointer-events: all;
	}
	&.transparent-header {
		background: transparent !important;
		position: absolute;
		box-shadow: none !important;
	}
}

body.pavlaka-bg
{
	#header
	{
		background: transparent;
		@media screen and (max-width: $screenMobile) {
			display: flex;
		}
		#navigation
		{
			@media screen and (max-width: $screenMobile) {
				display: flex;
			}
		}
		&.header-shadow
		{
			box-shadow: none;
		}
		.pavlaka-logo
		{
			margin-top: 25px;
			a
			{
				img
				{
					width: 86px;
				}
			}
		}
	}
}