#proizvodi-page
{
	#parallax
	{
		width: 100%;
		margin: 50px 0 150px;
		.parallax-wrap
		{
			width: 100%;
			display: flex;
			align-items: flex-end;
			.window
			{
				width: 100%;
				height: 600px;
				background-image: url("../images/proizvodi/parallax.jpg");
				background-position-x: center;
				background-position-y: 0%;
				background-repeat: no-repeat;
				background-size: cover;
			}
			.parallax-box
			{
				width: 100%;
				display: flex;
				justify-content: center;
				position: absolute;
				.wrap
				{
					width: 70%;
					max-width: 570px;
					background: white;
					display: flex;
					flex-direction: column;
					align-items: center;
					justify-content: center;
					padding: 75px 0;
					box-shadow: 0 15px 50px rgba(0, 0, 0, .25);
					position: relative;
					transform: translateY(15%);
					color: $color-darkBlue;
					@media screen and (max-width: $screenMobile) {
						width: 90%;
					}
					.line
					{
						width: 1px;
						height: 65px;
						position: absolute;
						background: $color-darkBlue;
						top: 0;
						transform: translateY(-50%);
					}
					.title
					{
						font-size: 42px;
						width: 80%;
						text-align: center;
					}
					.text
					{
						width: 50%;
						text-align: center;
						font-size: 11px;
						padding: 10px 0;
					}
					.cover
					{
						width: 100%;
						height: 75%;
						position: absolute;
						background: white;
						transform-origin: right center;
						@include transition(transform 1.5s);
						&.active
						{
							transform: scaleX(0);
						}
						@media screen and (max-width: $screenMobile) {
							display: none;
						}						
					}
					.reveal-wrap
					{
						width: 1px;
						height: 1px;
						position: absolute;
						bottom: 0;
					}
					.reveal
					{
						position: absolute;
						bottom: 0;
						width: 0;
						overflow: hidden;
						transform: translateX(-60px) translateY(50%);
						@include transition(width 1s .5s);
						@media screen and (max-width: $screenMobile) {
							width: 120px;
						}
						.read-more
						{
							display: flex;
							background: $color-darkBlue;
							color: white;
							font-weight: 700;
							font-size: 13px;
							padding: 10px 0;
							width: 120px;
							text-align: center;
							display: block;
							@include transition(background .25s);
							&:hover
							{
								background: $color-appleGreen;
								@media screen and (max-width: $screenMobile) {
									background: $color-darkBlue;
								}
							}
							&:active
							{
								@media screen and (max-width: $screenMobile) {
									background: $color-appleGreen;
								}
							}
						}
						&.active
						{
							width: 120px;
						}
					}
				}
			}
		}
	}
}