#proizvodi-page
{
	#menu
	{
		width: 100%;
		display: flex;
		justify-content: center;
		margin-top: 75px;
		@media screen and (max-width: $screenMobile) {
			margin-top: 0;
			padding-top: 75px;
		}
		.lista
		{
			width: 90%;
			max-width: $contentWidth;
			.item
			{
				width: 100%;
				margin: 20px 0;
				// background: white;
				// box-shadow: 0 15px 50px rgba(0, 0, 0, .09);
				position: relative;
				z-index: 2;
				// @include transition (all 0.5s);
				a
				{
					width: 100%;
					text-align: center;
					height: 150px;
					display: flex;
					justify-content: center;
					align-items: center;
					img
					{
						max-width: 100%;
					}
				}
				&.sub
				{
					position: relative;
					z-index: 0;
				}
				&.solo
				{
					box-shadow: 0 15px 50px rgba(0,0,0,.09);
					margin-bottom: 20px;
					background: #fff;
					@include transition (all 0.5s);
					&:hover
					{
						box-shadow: 0 15px 50px rgba(0,0,0,.3);
						transform: translateY(-5px);
						@media screen and (max-width: $screenMobile) {
							transform: translateY(0px);
							box-shadow: 0 15px 50px rgba(0, 0, 0, .09);
						}
					}
					&:active
					{
						@media screen and (max-width: $screenMobile) {
							transform: translateY(-5px);
							box-shadow: 0 15px 50px rgba(0, 0, 0, .3);
						}
					}
				}
				.sub-menu
				{
					box-shadow: 0 15px 50px rgba(0,0,0,.09);
					margin-bottom: 20px;
					background: #fff;
					@include transition (all 0.5s);
					&:hover
					{
						box-shadow: 0 15px 50px rgba(0,0,0,.3);
						transform: translateY(-5px);
						@media screen and (max-width: $screenMobile) {
							transform: translateY(0px);
							box-shadow: 0 15px 50px rgba(0, 0, 0, .09);
						}
					}
					&:active
					{
						@media screen and (max-width: $screenMobile) {
							transform: translateY(-5px);
							box-shadow: 0 15px 50px rgba(0, 0, 0, .3);
						}
					}
				}
			}
			.pod-lista
			{
				width: 100%;
				display: flex;
				justify-content: center;
				flex-wrap: wrap;
				position: relative;
				z-index: 1;
				@media screen and (max-width: $screenMobile) {
					flex-direction: column;
				}
				.pod-item
				{
					width: 31%;
					background: white;
					color: $color-darkBlue;
					cursor: pointer;
					box-shadow: 0 15px 50px rgba(0, 0, 0, .09);
					display: flex;
					font-size: 1.1vw;
					font-weight: 700;
					margin: 10px 1%;
					@media screen and (max-width: $screenMobile) {
						width: 100%;
						margin: 5px 0;
						font-size: 20px;
					}
					&:hover
					{
						background: $color-darkBlue;
						color: white;
						@media screen and (max-width: $screenMobile) {
							background: white;
							color: $color-darkBlue;
						}
					}
					&:active
					{
						@media screen and (max-width: $screenMobile) {
							background: $color-darkBlue;
							color: white;
						}
					}
					a
					{
						width: 100%;
						padding: 30px 0;
						text-align: center;
						height: initial;
					}
				}
			}
		}
	}
}