#filter-drop-down
{
	width: 140px;
	// position: absolute;
	// right: calc(5% + 75px);
	// transform: translateY(-50px);
	display: none;
	margin: 80px 0 30px;
	width: 100%;
	// justify-content: center;
	flex-direction: column;
    align-items: center;
	@media screen and (max-width: $screenMobile) {
		display: flex;
		margin: 0 0 30px;
		padding-top: 80px;
	}
	.droper
	{
		background-color: $color-darkBlue;
		width: 210px;
		display: flex;
		justify-content: center;
		position: relative;
		.dropbtn
		{
			background-color: transparent;
			color: white;
			padding: 15px 0;
			font-size: 13px;
			outline: none;
			border: none;
			cursor: pointer;
			// width: 180px;
		}
		.arrow
		{
			float: right;
			height: 46px;
			width: 30px;
			display: flex;
			align-items: center;
			justify-content: center;
			position: absolute;
			left: 20px;
		}
		&:active
		{
			background-color: $color-appleGreen;
		}
	}
	.dropdown-content
	{
		display: none;
		// position: absolute;
		background-color: $color-darkBlue;
		width: 210px;
		box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
		z-index: 1;
		a
		{
			color: white;
			font-size: 12px;
			padding: 15px 0;
			text-decoration: none;
			text-align: center;
			display: block;
			cursor: pointer;
			border-top: 1px solid white;
			@include transition(all .25s);
			&:hover
			{
				background-color: $color-appleGreen;
				color: white;
				// font-weight: 700;
			}
		}
	}
	&.active
	{
		.dropdown-content
		{
			display: block;
			a
			{
				&:active
				{
					background-color: $color-appleGreen;
				}
			}
		}
	}
}