#filter
{
	width: 100%;
	display: flex;
	justify-content: center;
	margin: 80px 0 30px;
	@media screen and (max-width: $screenMobile) {
		display: none;
	}
	.wrap
	{
		width: 90%;
		max-width: $contentWidth;
		display: flex;
		justify-content: center;
		align-items:center;
		.filter-btn
		{
			outline: none;
			border: none;
			text-decoration: none;
			background-color: $color-darkBlue;
			color: white;
			padding: 10px 0;
			font-size: 13px;
			cursor: pointer;
			width: 120px;
			margin: 0 15px;
			@include transition(all .25s);
			&.active
			{
				background-color: $color-appleGreen;
				font-weight: 700;
				cursor: default;
			}
			&:hover
			{
				background-color: $color-appleGreen;
				// color: $color-darkBlue;
				// font-weight: 700;
			}
		}
	}
}