#google-map
{
	width: 100%;
	height: 450px;
	margin-top: 100px;
	#map
	{
		width: 100%;
		height: 100%;
	}
	.map-info-content
	{
		color: $color-darkBlue;
		.firstHeading
		{
			font-size: 12px;
			font-weight: 700;
		}
		.bodyContent
		{
			font-size: 10px;
			font-weight: 300;
			p
			{
				padding: 2px 0;
			}
		}
	}
}