#hamburger
{
	width: 26px;
    height: 13px;
	position: absolute;
	right: 5%;
	// margin: 50px auto;
	transform: rotate(0deg);
	transition: .5s ease-in-out;
	cursor: pointer;
	@media screen and (max-width: $screenMobile) {
		left: 51%;
		top: 25px;
		transform: translateX(-50%);
		pointer-events: all;
	}
	span
	{
		display: block;
		position: absolute;
		height: 1px;
		width: 100%;
		background: #022961;
		opacity: 1;
		left: 0;
		transform: rotate(0deg);
		font-size: 9px;
		letter-spacing: 2.4px;
    	text-indent: -0.75px;
		color: #022961;
	}
	&.closed
	{
		span
		{
			&:nth-child(1)
			{
				top: 0px;
				transform-origin: right center;
			}
			&:nth-child(2)
			{
				top: 6px;
				width: 130%;
				left: -30%;
				transform-origin: left center;
				transform: scaleX(1);
			}
			&:nth-child(3)
			{
				// top: 12px;
				transform-origin: right center;

				top: 10px;
				background: none;
				left: -30%;
				width: 140%;
				height: auto;
				overflow: hidden;
			}
		}
		&.hover
		{
			span
			{
				&:nth-child(1)
				{
					animation: animate-hamburger-closed .5s both;
				}
				&:nth-child(2)
				{
					animation: animate-hamburger-closed .5s .15s both;
				}
				&:nth-child(3)
				{
					animation: animate-hamburger-closed-2 .5s .35s both;
				}
			}
		}
	}
	&.opened
	{
		span
		{
			&:nth-child(1)
			{
				top: 15.35px;
				left: -6.6px;
				transform-origin: right center;
				transform: rotate(45deg) scaleX(1);
			}
			&:nth-child(2)
			{
				transform-origin: right center;
				transform: scaleX(0);
			}
			&:nth-child(3)
			{
				top: -3.35px;
				left: -6.6px;
				transform-origin: right center;
				transform: rotate(-45deg) scaleX(1);

				text-indent: 30px;
				overflow: hidden;
			}
		}
		&.hover
		{
			span
			{
				&:nth-child(1)
				{
					animation: animate-hamburger-opened-1 .5s both;
				}
				&:nth-child(3)
				{
					animation: animate-hamburger-opened-2 .5s .15s both;
				}
			}
		}
	}
}

@keyframes animate-hamburger-opened-1
{
	0%
	{
		top: 15.35px;
		left: -6.6px;
		transform-origin: right center;
		transform: rotate(45deg) scaleX(1);
	}
	50%
	{
		top: 15.35px;
		left: -6.6px;
		transform-origin: right center;
		transform: rotate(45deg) scaleX(0);
	}
	51%
	{
		top: -3px;
		left: 1px;
		transform-origin: left center;
		transform: rotate(45deg) scaleX(0);
	}
	100%
	{
		top: -3px;
		left: 1px;
		transform-origin: left center;
		transform: rotate(45deg) scaleX(1);
	}
}

@keyframes animate-hamburger-opened-2
{
	0%
	{
		top: -3.35px;
		left: -6.6px;
		transform-origin: right center;
		transform: rotate(-45deg) scaleX(1);
	}
	50%
	{
		top: -3.35px;
		left: -6.6px;
		transform-origin: right center;
		transform: rotate(-45deg) scaleX(0);
	}
	51%
	{
		top: 15px;
		left: 1px;
		transform-origin: left center;
		transform: rotate(-45deg) scaleX(0);
	}
	100%
	{
		top: 15px;
		left: 1px;
		transform-origin: left center;
		transform: rotate(-45deg) scaleX(1);
	}
}

@keyframes animate-hamburger-closed
{
	0%
	{
		transform-origin: right center;
		transform: scaleX(1);
	}
	50%
	{
		transform-origin: right center;
		transform: scaleX(0);
	}
	51%
	{
		transform-origin: left center;
		transform: scaleX(0);
	}
	100%
	{
		transform-origin: left center;
		transform: scaleX(1);
	}
}

@keyframes animate-hamburger-closed-2
{
	0%
	{
		left: -30%;
		width: 140%;
	}
	50%
	{
		left: 100%;
		width: 0%;
	}
	51%
	{
		left: -30%;
		width: 0%;
	}
	100%
	{
		left: -30%;
		width: 140%;
	}
}