#hamburger-mobile
{
	width: 26px;
    height: 13px;
	position: absolute;
	// margin: 50px auto;
	transition: .5s ease-in-out;
	left: 50%;
	top: 25px;
	transform: translateX(-50%);
	pointer-events: all;
	cursor: pointer;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	span
	{
		display: block;
		position: absolute;
		height: 1px;
		width: 100%;
		background: #022961;
		opacity: 1;
		left: 0;
		transform: rotate(0deg);
		font-size: 9px;
		letter-spacing: 2.4px;
    	text-indent: -0.75px;
		color: #022961;
	}
	img {
		width: 150%;
	    transform: translateX(-12.5%);
		transition: all 0.3s;
		opacity: 1;
		display: none;
	}
	&.closed
	{
		span
		{
			display: none;
			&:nth-child(1)
			{
				top: 0px;
				transform-origin: right center;
			}
			&:nth-child(2)
			{
				top: 6px;
				width: 130%;
				left: -15%;
				transform-origin: left center;
				transform: scaleX(1);
			}
			&:nth-child(3)
			{
				top: 12px;
				transform-origin: right center;

				// top: 10px;
				// background: none;
				// left: -30%;
				// width: 140%;
				// height: auto;
				// overflow: hidden;
			}
		}
		&.hover
		{
			img {
				opacity: 0;
			}
			span
			{
				&:nth-child(1)
				{
					animation: animate-hamburger-mobile-closed .5s both;
				}
				&:nth-child(2)
				{
					animation: animate-hamburger-mobile-closed .5s .15s both;
				}
				&:nth-child(3)
				{
					animation: animate-hamburger-mobile-closed .5s .35s both;
				}
			}
		}
		&.hover-reverse
		{
			span
			{
				&:nth-child(1)
				{
					animation: animate-hamburger-mobile-closed .5s both reverse;
				}
				&:nth-child(2)
				{
					animation: animate-hamburger-mobile-closed .5s .15s both reverse;
				}
				&:nth-child(3)
				{
					animation: animate-hamburger-mobile-closed .5s .35s both reverse;
				}
			}
		}
	}
	&.opened
	{
		img {
			opacity: 0;
		}
		span
		{
			&:nth-child(1)
			{
				top: 15.35px;
				left: -2.6px;
				transform-origin: right center;
				transform: rotate(45deg) scaleX(1);
			}
			&:nth-child(2)
			{
				transform-origin: right center;
				transform: scaleX(0);
			}
			&:nth-child(3)
			{
				top: -3.35px;
				left: -2.6px;
				transform-origin: right center;
				transform: rotate(-45deg) scaleX(1);

				// text-indent: 30px;
				// overflow: hidden;
			}
		}
		&.hover
		{
			span
			{
				&:nth-child(1)
				{
					animation: animate-hamburger-mobile-opened-1 .5s both;
				}
				&:nth-child(3)
				{
					animation: animate-hamburger-mobile-opened-2 .5s .15s both;
				}
			}
		}
		&.hover-reverse
		{
			span
			{
				&:nth-child(1)
				{
					animation: animate-hamburger-mobile-opened-1 .5s both reverse;
				}
				&:nth-child(3)
				{
					animation: animate-hamburger-mobile-opened-2 .5s .15s both reverse;
				}
			}
		}
	}
}

@keyframes animate-hamburger-mobile-opened-1
{
	0%
	{
		top: -3px;
		left: 5px;
		transform-origin: left center;
		transform: rotate(45deg) scaleX(0);
	}
	100%
	{
		top: -3px;
		left: 5px;
		transform-origin: left center;
		transform: rotate(45deg) scaleX(1);
	}
}

@keyframes animate-hamburger-mobile-opened-2
{
	0%
	{
		top: 15px;
		left: 5px;
		transform-origin: left center;
		transform: rotate(-45deg) scaleX(0);
	}
	100%
	{
		top: 15px;
		left: 5px;
		transform-origin: left center;
		transform: rotate(-45deg) scaleX(1);
	}
}

@keyframes animate-hamburger-mobile-closed
{
	0%
	{
		transform-origin: right center;
		transform: scaleX(1);
	}
	100%
	{
		transform-origin: right center;
		transform: scaleX(0);
	}
}

@keyframes animate-hamburger-mobile-closed-2
{
	0%
	{
		left: -30%;
		width: 140%;
	}
	100%
	{
		left: 100%;
		width: 0%;
	}
}