#lng, #lng-mobile
{
	
	width: 40px;
	position: absolute;
	right: calc(5% + 75px);
	opacity: 0;
	transform: translateY(-50px);
	pointer-events: none;
	@include transition(all 1s 1s);
	@media screen and (max-width: $screenMobile) {
		transform: none;
		position: relative;
		right: initial;
		opacity: 1;
		width: 180px;
	}
	.dropbtn
	{
		background-color: $color-darkBlue;
		color: white;
		padding: 5px 0;
		font-size: 13px;
		outline: none;
		border: none;
		cursor: pointer;
		width: 100%;
		@media screen and (max-width: $screenMobile) {
			font-size: 18px;
		}
		.arrow {
			display: inline-block;
		}
	}
	.dropdown-content
	{
		display: none;
		position: absolute;
		background-color: $color-darkBlue;
		width: 100%;
		box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
		z-index: 1;
		a
		{
			color: white;
			font-size: 12px;
			padding: 5px 0;
			text-decoration: none;
			text-align: center;
			display: block;
			cursor: pointer;
			border-top: 1px solid white;
			@include transition(all .25s);
			@media screen and (max-width: $screenMobile) {
				font-size: 16px;
			}
			&:hover
			{
				background-color: $color-appleGreen;
				color: white;
				// font-weight: 700;
			}
		}
	}
	&:hover
	{
		.dropdown-content
		{
			display: block;
		}
	}
	&.opened
	{
		opacity: 1;
		pointer-events: all;
		transform: translateY(0);
	}
}
