#navigation
{
	width: 90%;
	max-width: $contentWidth;
	display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
	@media screen and (max-width: $screenMobile) {
		// height: 100%;
		// width: 100%;
		// flex-direction: column;
		display: none;
	}
	ul
	{
		list-style: none;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 30%;
		opacity: 0;
		transform: translateY(-50px);
		pointer-events: none;
		@include transition(all 1s 1s);
		&.opened
		{
			opacity: 1;
			transform: translateY(0);
			pointer-events: all;
		}
		&.left
		{
			justify-content: flex-end;
		}
		&.right
		{
			justify-content: flex-start;
		}
		li
		{
			padding: 0 10px;
			&.active
			{
				a
				{
					font-weight: 700;
					color: $color-appleGreen;
					pointer-events: none;
					&.always-on
					{
						pointer-events: all;
					}
				}
			}
			a
			{
				color: $color-darkBlue;
				font-size: 13px;
				// width: 70px;
				display: block;
				text-align: center;
				@include transition(all .15s);
				&:hover
				{
					// font-weight: 700;
					color: $color-appleGreen;
				}
			}
		}
	}
	.logo
	{
		padding: 0 35px;
		position: relative;
		z-index: 10;
		a
		{
			position: relative;
			width: 63px;
			height: 45px;
			display: block;
			img
			{
				width: 100%;
				height: 100%;
				position: absolute;
				top: 30px;
				@include transition(all 1s);
			}
		}
		&.opened
		{
			a
			{
				img
				{
					top: 0;
				}
			}
		}
	}
	.blob
	{
		position: absolute;
		top: 65px;
		padding: 0;
		left: 0;
		margin-left: 50%;
		transform: translateX(-50%);
		svg
		{
			@include transition(all 1s);
			transform-origin: 50% 0;
		}
		&.opened
		{
			svg
			{
				transform: scaleY(0);
			}
		}
	}
	#milk-blob
	{
		position: absolute;
		top: 65px;
		padding: 0;
		width: 185px;
		left: 3px;
		margin-left: 50%;
		transform: translateX(-50%);
		pointer-events: none;
	}
}