#navigation-mobile
{
	min-height: 100%;
	width: 100%;
	max-width: $contentWidth;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	padding: 0;
	background: white;
	transform: translateY(-100%);
	@include transition(transform 2s);
	ul
	{
		list-style: none;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		flex-direction: column;
		li
		{
			padding: 0 10px;
			&.active
			{
				a
				{
					font-weight: 700;
					color: $color-appleGreen;
				}
			}
			a
			{
				color: $color-darkBlue;
				display: block;
				text-align: center;
				margin: 5px;
				font-size: 6vw;
				@include transition(all .15s);
				@media all and (max-width: 360px) {
					font-size: 17px;
				}
				&:hover
				{
					color: $color-appleGreen;
				}
			}
		}
	}
	.logo
	{
		padding: 0 35px;
		position: relative;
		z-index: 10;
		margin-top: 40px;
		a
		{
			position: relative;
			width: 63px;
			height: 45px;
			display: block;
			img
			{
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0;
				@include transition(all 1s);
			}
		}
		&.opened
		{
			a
			{
				img
				{
					top: 0;
				}
			}
		}
	}
	&.landscape
	{
		.logo
		{
			margin-top: 70px;
		}
		.nav
		{
			margin: 25px 0;
			li
			{
				a
				{
					font-size: 4vw;
				}
			}
		}
	}
}