#pagination
{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	margin: 30px 0 100px;
	position: relative;
	@media screen and (max-width: $screenMobile) {
		margin: 100px 0 100px;
	}
	.box
	{
		padding: 20px 70px;
		box-shadow: 0 0 30px rgba(0, 0, 0, .25);
		.holder
		{
			cursor: default;
			display: flex;
			a
			{
				font-size: 13px;
				padding: 5px;
				cursor: pointer;
				display: flex;
				justify-content: center;
				align-items: center;
				width: 10px;
				position: relative;
				@include transition(all .15s);
				&:hover
				{
					font-weight: 700;
				}
				.line
				{
					width: 1px;
					height: 50px;
					background: black;
					position: absolute;
					bottom: 0;
					transform-origin: center bottom;
					transform: translateY(-65%) scale(0);
					@include transition(all .5s);
				}
			}
			.jp-current
			{
				font-weight: 700;
				color: $color-appleGreen;
				pointer-events: none;
				.line
				{
					transform: translateY(-65%) scale(1);
				}
			}
		}
	}
	.arrows
	{
		background: $color-darkBlue;
		color: white;
		display: flex;
		align-items: center;
		position: absolute;
		transform: translate(-50%, 75%);
		bottom: 0;
		left: 50%;
		.arrow, .delimiter
		{
			background: transparent;
			user-select: none;
		}
		.arrow
		{
			outline: none;
			border: none;
			padding: 11px 10px;
			width: 50px;
			opacity: .3;
			@include transition(all .5s);
			&:hover
			{
				opacity: 1;
			}
		}
		.delimiter
		{
			padding: 10px 0;
			pointer-events: none;
			opacity: .25;
		}
	}
}