$color-jagoda: #991b20;
$color-kajsija: #fda341;
$color-svoce: #92278f;
$color-visnja: #a20246;
$color-nar: #1baea0;
$color-ananas: #da9f00;
$color-mango: #b4d30c;

.jogood-bg {
    #header,
    #navigation {
        width: 100%;
        max-width: 100%;
        display: block !important;
        text-align: center;
    }
}
#jogood-page {
    overflow-x: hidden;
    #product-hero {
        width: 100%;
        //        height: 100vh;
        display: flex;
        justify-content: center;
        padding: 44px 0 64px;
        &.product-jogood {
            position: relative;
            transition: background-color 1s ease-in-out;
            &[data-product="jagoda"] {
                background-color: #722fd0;
                a.product-btn {
                    background-color: $color-jagoda;
                }
            }
            &[data-product="kajsija"] {
                background-color: #48daff;
                a.product-btn {
                    background-color: $color-kajsija;
                }
            }
            &[data-product="svoce"] {
                background-color: #f674c6;
                a.product-btn {
                    background-color: $color-svoce;
                }
            }
            &[data-product="visnja"] {
                background-color: #ff7787;
                a.product-btn {
                    background-color: $color-visnja;
                }
            }
            &[data-product="nar"] {
                background-color: #a5ffea;
                a.product-btn {
                    background-color: $color-nar;
                }
            }
            &[data-product="ananas"] {
                background-color: #b0de4d;
                a.product-btn {
                    background-color: $color-ananas;
                }
            }
            &[data-product="mango"] {
                background-color: #a7a3ff;
                a.product-btn {
                    background-color: $color-mango;
                }
            }
            &:after {
                content: '';
                height: 300px;
                background: linear-gradient(transparent, rgba(0,0,0,0.25));
                width: 100%;
                position: absolute;
                bottom: 0;
                left: 0;
                z-index: 0;
            }
            .jogood-slider {
                width: 100%;
                position: relative;
                z-index: 3;
                .slider--item {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: relative;
                    img.fruit {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%,-50%);
                        z-index: 2;
                        // pointer-events: none;    
                    }
                    & > img {
                        @media all and (max-width:768px) {
                            max-width: 50%;
                        }
                    }
                }
            }
        }
        .parallax-bg,
        .parallax-fruit,
        .parallax-span {
            position: absolute;
            @media all and (max-width:768px) {
                width: 80%;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -60%) !important;
                img {
                    width: 100%;
                }
            }
        }
        .parallax-bg {
            z-index: 0;
            @media all and (max-width:768px) {
                width: 100%;
                img {
                    width: 100%;
                }
            }
            @media all and (max-width:640px) {
                margin-top: -10%;
            }
            @media all and (max-width:360px) {
                margin-top: -21%;
            }
        }
        .parallax-span {
            z-index: 1;
            @media all and (max-width:640px) {
                margin-top: -10%;
            }
            @media all and (max-width:360px) {
                margin-top: -21%;
            }
        }
        
        img.slider-milk-splash {
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: 2;
            transform: translate(-50%,-70%);
            margin-top: -10%;
        }
        img.slider-milk-bg {
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: 0;
            transform: translate(-50%,-70%);
        }
        #shape {
            width: 120%;
            position: absolute;
            z-index: 1;
            top: 50% !important;
            left: 50% !important;
            transform: translate(-50%,-60%);
            // pointer-events: none;
            z-index: 1;
            margin-left: -60%;
            margin-top: -70%; 
        }
        .wrap {
            width: 100%;
            // background: url("/assets/front/images/jogood/milk-splash-hero.png") no-repeat center center;
            .arrows-jogood {
            	outline: 0;
			    border: none;
			    width: 50px;
			    height: 50px;
			    position: absolute;
			    top: 40%;
    			z-index: 10;
			    display: flex;
			    justify-content: center;
			    align-items: center;
			    border-radius: 50%;
			    background: transparent;
                transition: 0.3s all;
                @media all and (max-width: 768px) {
                    background: rgba(255, 255, 255, 0.15);
                    &:hover {
                        background: rgba(255, 255, 255, 0.15) !important;
                    }
                }
			    &:hover {
			    	background: rgba(255, 255, 255, 0.5);
			    }
			    &--next,
                &--prev {
                    &:after,
                    &:before {
                        content: '';
                        height: 2px;
                        width: 12px;
                        position: absolute;
                        top: 20px;
                        left: 50%;
                        margin-left: -6px;
                        background: black;
                        @media all and (max-width:768px) {
                            background: white;
                        }
                    }
                    &:before {
                        top: 28px;
                    }
                }
			    &--next {
                    right: 60px;
                    &:before {
                        transform: rotate(-50deg);
                    }
                    &:after {
                        transform: rotate(50deg);
                    }
                    @media all and (max-width:768px) {
                        right: 0;
                    }
			    }
			    &--prev {
                    left: 60px;
                    &:before {
                        transform: rotate(50deg);
                    }
                    &:after {
                        transform: rotate(-50deg);
                    }
                    @media all and (max-width:768px) {
                        left: 0;
                    }
			    }

            }
            .jogood-slider--buttons {
                display: flex;
                align-items: center;
                justify-content: center;
                padding-top: 8px;
                .arrows-jogood {
                    margin: 8px;
                }
                @media all and (max-width:768px) {
                    width: 132px;
                    position: relative;
                    z-index: 10;
                }
            }
        }
    }
    svg#jogood-svg {
        max-width: 500px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-80%);
    }
    .wrap {
        width: 90%;
        max-width: 1295px;
        display: flex;
        //        justify-content: center;
        align-items: center;
        padding: 90px 0;
        flex-direction: column;
        justify-content: space-evenly;
        .logo-hero {
            width: 180px;
            margin: 15px auto;
            img {
                width: 100%;
            }
        }

        .btn {
            display: block;
            background-color: #fe426c;
            color: #fff;
            font-weight: bold;
            padding: 16px 40px;
            border-radius: 35px;
            cursor: pointer;
            z-index: 2;
            position: relative;
            transition: .6s all;
            font-size: 18px;
        }
    }
    .hidden-text {
        text-align: center;
        width: 0;
        padding: 1px;
        overflow: hidden;
        white-space: nowrap;
        margin: 125px 0 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        visibility: hidden;
        @include transition(width 3s);
        @media screen and (max-width: $screenMobile) {
            margin: 100px 0 50px;
        }
        h3 {
            font-size: 33px;
            color: $pavlaka-red;
            text-align: center;
            @media screen and (max-width: $screenMobile) {
                font-size: 6vw;
            }
        }
        img {
            margin-bottom: 44px;
            @media screen and (max-width: $screenMobile) {
                width: 180px;
            }
        }
        p {
            font-size: 17px;
            color: #393939;
            text-align: center;
            font-weight: 400;
            br.break {
                display: none;
            }
            @media screen and (max-width: 1068px) {
                br.break {
                    display: block;
                }
            }
            @media screen and (max-width: $screenMobile) {
                width: 85%;
                font-size: 3.4vw;
                br {
                    display: none;
                }
            }
        }
        &.active {
            width: 100%;
            visibility: visible;
        }
        @media screen and (max-width: $screenMobile) {
            width: 100%;
            visibility: visible;
            white-space: normal;
            h3 {
                font-size: 27px;
            }
        }
    }
    section#video {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background: linear-gradient(#ffe874, #ffbe21);
        position: relative;
        #jogood-video {
            width: 100%;
        }
        .hidden-text {
            margin-top: 0;
            img {
                // max-width: 280px;
            }
        }
        .wawe-yellow {
            width: 100%;
            min-width: 1600px;
            position: absolute;
            top: 0;
            left: 50%;
            transform: translate(-50%,-99%);
        }
        .milk-splash {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            transform: translateY(42%);
            z-index: 10;
            pointer-events: none;
        }
        .green-bg {
            position: absolute;
            width: 100%;
            left: 0;
            bottom: 0;
            transform: translateY(100%);
            pointer-events: none;
        }
        .wrap {
            flex-direction: column;
            z-index: 100;
            padding-top: 0;
            @media all and (max-width:640px) {
                padding-bottom: 15px;    
            }
        }
    }
    .splash-space {
        position: relative;
    }
    img.fruit-prlx {
        width: 200px;
        position: absolute;
        @media all and (max-width: 1200px) {
            width: 160px;
        }
    }
    img.jagoda-prlx {
        right: 0;
        bottom: 50%;
        @media all and (max-width: 768px) {
            bottom: 35%;
        }
        @media all and (max-width: 640px) {
            bottom: 29%;
            right: -65px;
        }
    }
    img.ananas-prlx {
        left: 0;
        bottom: 35%;
        z-index: 10;
        @media all and (max-width: 768px) {
            left: -45px;
            bottom: 31%;
        }
        @media all and (max-width: 640px) {
            left: -59px;
            bottom: 18%;
        }
    }
    img.kajsija-prlx {
        width: 260px;
        left: 10%;
        bottom: 120%;
        z-index: 10;
        @media all and (max-width: 1200px) {
            width: 220px;
        }
        @media all and (max-width: 768px) {
            width: 180px;
            bottom: -100%;
            left: 4%;
        }
        @media all and (max-width: 640px) {
            bottom: -160px;
            width: 120px;
        }
    }
    img.kupina-prlx {
        width: 300px;
        left: 40%;
        bottom: 0;
        z-index: 0;
        @media all and (max-width: 1200px) {
            width: 260px;
            bottom: -30%;
        }
        @media all and (max-width: 768px) {
            width: 220px;
            bottom: 0;
            left: 30%;
        }
        @media all and (max-width: 640px) {
            width: 130px;
        }
    }
    img.visnja-prlx {
        width: 280px;
        right: 8%;
        bottom: 20%;
        @media all and (max-width: 1200px) {
            width: 240px;
        }
        @media all and (max-width: 768px) {
            width: 200px;
            right: -30px;
            bottom: -90%;
        }
        @media all and (max-width: 640px) {
            width: 100px;
            bottom: -200px;
        }
    }
    img.nar-prlx {
        width: 240px;
        left: 10%;
        bottom: -100px;
        @media all and (max-width: 1200px) {
            width: 200px;
        }
    }
    .info-box {
        margin-top: 44px;
        text-align: center;
        a {
            display: inline-block;
        }
    }
    #jogood-footer
	{
		width: 100%;
		display: flex;
		justify-content: center;
        margin: 80px 0 0;
        position: relative;
        padding-bottom: 80px;
        overflow: hidden;
		.wrap
		{
			width: 90%;
			max-width: $contentWidth;
			display: flex;
			flex-direction: column;
            align-items: center;
            & > img {
                @media all and (max-width: 768px) {
                    max-width: 240px;
                }
            }
			h3
			{
				font-size: 38px;
				color: $pavlaka-red;
				text-align: center;
				@media screen and (max-width: $screenMobile) {
					font-size: 28px;
				}
				margin: 25px 0;
			}
			.social {
				display: flex;
				align-items: center;
				justify-content: center;
				.icon {
					height: 42px;
					width: 42px;
					display: block;
					background-color: #b8b8b8;
					margin: 10px;
					border-radius: 50%;
					display: flex;
					align-items: center;
					justify-content: center;
					@include transition(all 0.5s);
					svg {
						height: 20px;
						width: 20px;
						fill: white;
						&.fb {
							height: 23px;
							width: 23px;
						}
					}
					&:hover {
						background: $pavlaka-red;
					}
				}
			}
		}
	}
}
