#vesti-single-page
{
	#content
	{
		width: 100%;
		display: flex;
		justify-content: center;
		padding: 50px 0;
		.wrap
		{
			table {
				margin: 15px 50px;
				text-align: center;
				@media screen and (max-width: $screenMobile) {
					margin: 0;
				}
			}
			width: 90%;
			max-width: $contentWidth;
			.title
			{
				padding: 15px 50px;
				// font-size: 2.75vw;
				font-size: 45px;
				color: $color-darkBlue;
				@media screen and (max-width: $screenMobile) {
					padding: 15px 0;
					font-size: 30px;
					text-align: center;
				}
			}
			.date
			{
				// font-size: 1.2vw;
				font-size: 11px;
				font-weight: 700;
				color: $color-appleGreen;
				@media screen and (max-width: $screenMobile) {
					padding: 15px 0;
					text-align: center;
				}
				.label
				{
					color: $color-gray;
				}
			}
			p
			{
				padding: 15px 50px;
				font-size: 13px;
				color: $color-gray;
				@media screen and (max-width: $screenMobile) {
					padding: 15px 0;
				}
			}
			.buttons
			{
				display: flex;
				justify-content: space-between;
				align-items: center;
				padding: 50px 50px;
				@media screen and (max-width: $screenMobile) {
					padding: 20px 0;
					flex-wrap: wrap;
					justify-content: center;
				}
				.download
				{
					outline: none;
					border: none;
					text-decoration: none;
					font-weight: 700;
					background: white;
					color: $color-darkBlue;
					padding: 15px 50px 15px 20px;
					display: flex;
					align-items: center;
					position: relative;
					overflow: hidden;
					box-shadow: -5px 10px 10px rgba(0,0,0,.1);
					@media screen and (max-width: $screenMobile) {
						display: none;
					}
					.arrow
					{
						border-top: 9px solid $color-gray;
						border-left: 6px solid transparent;
						border-right: 6px solid transparent;
						margin-right: 10px;
					}
					.file-type
					{
						font-size: 11px;
						font-weight: 400;
						color: $color-gray;
						position: absolute;
						right: 3px;
						bottom: 3px;
					}
					&:before
					{
						content: "";
						position: absolute;
						top: 0;
						right: 0;
						border-width: 0 25px 25px 0;
						border-style: solid;
						border-color: transparent transparent white white;
						background: white;
						box-shadow: 0 1px 12px rgba(0,0,0,0.3), -1px 1px 10px rgba(0,0,0,0.2);
					}
				}
				.social
				{
					display: flex;
					justify-content: center;
					align-items: center;
					@media screen and (max-width: $screenMobile) {
						flex-wrap: wrap-reverse;
						margin-top: 25px;
					}
					.label
					{
						font-size: 13px;
						color: $color-gray;
						margin-right: 10px;
						@media screen and (max-width: $screenMobile) {
							width: 100%;
							margin: 5px 0;
							text-align: center;
						}
					}
					a
					{
						svg
						{
							padding: 5px;
						}
						.circle
						{
							fill: $color-gray;
						}
						.icon
						{
							fill: white;
						}
					}
					.fb
					{
						&:hover
						{
							.circle
							{
								fill: #3b5998;
							}
							.icon
							{
								fill: white;
							}
							@media screen and (max-width: $screenMobile) {
								.circle
								{
									fill: $color-gray;
								}
								.icon
								{
									fill: white;
								}
							}
						}
						&:active
						{
							@media screen and (max-width: $screenMobile) {
								.circle
								{
									fill: #3b5998;
								}
								.icon
								{
									fill: white;
								}
							}
						}
					}
					.in
					{
						&:hover
						{
							.circle
							{
								fill: #0077b5;
							}
							.icon
							{
								fill: white;
							}
							@media screen and (max-width: $screenMobile) {
								.circle
								{
									fill: $color-gray;
								}
								.icon
								{
									fill: white;
								}
							}
						}
						&:active
						{
							@media screen and (max-width: $screenMobile) {
								.circle
								{
									fill: #0077b5;
								}
								.icon
								{
									fill: white;
								}
							}
						}
					}
					.tw
					{
						&:hover
						{
							.circle
							{
								fill: #00aced;
							}
							.icon
							{
								fill: white;
							}
							@media screen and (max-width: $screenMobile) {
								.circle
								{
									fill: $color-gray;
								}
								.icon
								{
									fill: white;
								}
							}
						}
						&:active
						{
							@media screen and (max-width: $screenMobile) {
								.circle
								{
									fill: #00aced;
								}
								.icon
								{
									fill: white;
								}
							}
						}
					}
				}
			}
		}
	}
}