@import
	"config",
	"layout",
	"sections";

*
{
	margin: 0;
	padding: 0;
}

body
{
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	font-size: 14px;
	height: auto !important;
	background: url('../images/prallax-bg.jpg') center top no-repeat;
	background-size: cover;
	-webkit-font-smoothing: antialiased;
	&.junior-parallax {
		background: url('../images/prallax-junior-bg2.jpg') center top no-repeat;
		background-size: cover;
	}
	&.maslac-bg
	{
		background: url('../images/maslac/maslac-bg.jpg') center top no-repeat;
		background-size: cover;
	}
	&.pavlaka-bg
	{
		background: url('../images/pavlaka/pavlaka-bg.jpg') center top no-repeat;
		background-size: cover;
	}
}
.mobile-device {
	body {
		&.junior-parallax {
			background-image: none;
		}
	}
}

h1, h2, h3, h4, h5
{
	font-family: 'Montserrat', sans-serif;
}

.temp
{
	width: 100%;
	height: 100px;
	background: red;
}

scrollbar
{
	height: 100vh;
}

a, button
{
	outline: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
device {
	width: 100%;
}
device.desktop {
	display: block;
}
device.mobile {
	display: none;
}
@media all and (max-width: 768px) {
	device.desktop {
		display: none;
	}
	device.mobile {
		display: block;
	}
}
.microsite {
	text-align: center; 
	margin-bottom: 20px;
	a {
		background: #001c44;
        color: #fff;
        font-size: 13px;
        font-weight: 700;
        padding: 11px 25px;
        width: 123px;
        white-space: nowrap;
        text-align: center;
        transition: background .25s;
        &:hover {
        	background: #96cc42;
        }
	}
}

scrollbar
{
	&.opened
	{
		overflow: hidden;
	}
}





