#kompanija-page
{
	#button
	{
		width: 100%;
		display: flex;
		justify-content: center;
		@media screen and (max-width: $screenMobile) {
			display: none;
		}
		.reveal-wrap
		{
			width: 1px;
    		margin-top: 100px;
		}
		.all-certs
		{
			outline: none;
			text-decoration: none;
			color: white;
			background: $color-darkBlue;
			display: flex;
			align-items: center;
			font-weight: 700;
			padding: 10px 0;
    		transform: translateX(-115px);
    		width: 0;
    		white-space: nowrap;
    		transition: background .5s, width .75s;
			img
			{
				width: 25px;
				margin-right: 10px;
				margin-left: 60px;
			}
			&:hover
			{
				background: $color-appleGreen;
			}
			&.active
			{
				width: 230px;
			}
		}
	}
}