#kompanija-page
{
	#parallax
	{
		width: 100%;
		display: flex;
		justify-content: center;
		margin-top: 100px;
		@media screen and (max-width: $screenMobile) {
			display: none;
		}
		.parallax-wrap
		{
			width: 90%;
			max-width: $contentWidth;
			display: flex;
			align-items: center;
			position: relative;
			.window
			{
				width: 40%;
				height: 390px;
				// background-image: url("../images/proizvodi/parallax.jpg");
				background-position-x: center;
				background-position-y: 0%;
				background-repeat: no-repeat;
				background-size: cover;
			}
			.box
			{
				width: 60%;
				height: 100%;
				position: relative;
				right: 0;
				background: white;
				box-shadow: 0 15px 50px rgba(0,0,0,.1);
				flex-shrink: 0;
				display: flex;
				flex-direction: column;
				justify-content: flex-start;
				align-items: flex-start;
				.title
				{
					padding: 20px 40px 10px;
					font-size: 2.5vw;
					color: $color-darkBlue;
					display: flex;
					align-items: center;
					.line
					{
						width: 50px;
						height: 1px;
						background: $color-darkBlue;
						position: absolute;
						transform-origin: right center;
						transform: translateX(-150%) scaleX(0);
						@include transition(transform 1s 0.5s);
						&.active
						{
							transform: translateX(-150%) scaleX(1);
						}
					}
				}
				.text
				{
					// font-size: 0.75vw;
					font-size: 14.4px;
					padding: 0 40px 10px;
					color: $color-gray;
					height: 230px;
					overflow: hidden;
					width: 100%;
					box-sizing: border-box;
					p
					{ 
						padding: 10px 0;
					}
					.scrollbar-track
					{
						background: transparent;
					}
					.scrollbar-thumb
					{
						background: $color-appleGreen;
						width: 4px;
					}
					&.misija-text
					{
						height: 275px;
					}
				}
				.read-more
				{
					color: $color-appleGreen;
					font-size: 14.4px;
					font-weight: 700;
					margin: 0 40px;
					position: absolute;
					bottom: 30px;
				}
				.cover
				{
					width: 100%;
					height: 100%;
					position: absolute;
					background: white;
					transform-origin: right center;
					@include transition(transform 1.5s);
					&.active
					{
						transform: scaleX(0);
					}
				}
			}
		}
	}
}