#junior-page,
#kompanija-page
{
	#about
	{
		width: 100%;
		display: flex;
		justify-content: center;
		margin-top: 150px;
		@media screen and (max-width: $screenMobile) {
			margin-top: 0;
		}
		.parallax-wrap
		{
			width: 90%;
			max-width: $contentWidth;
			display: flex;
			align-items: center;
			position: relative;
			@media screen and (max-width: $screenMobile) {
				width: 100%;
				flex-wrap: wrap;
				justify-content: center;
			}
			img
			{
				width: 60%;
			}
			.window
			{
				width: 60%;
				height: 135%;
				background-position-x: center;
				background-position-y: 0;
				background-repeat: no-repeat;
				background-size: cover;
				@media screen and (max-width: $screenMobile) {
					width: 100%;
					height: 330px;
				}
			}
			.parallax-box
			{
				width: 50%;
				position: relative;
				right: 0;
				background: white;
				box-shadow: 0 15px 50px rgba(0,0,0,.1);
				flex-shrink: 0;
				margin-left: -10%;
				display: flex;
				flex-direction: column;
				justify-content: flex-end;
				padding-bottom: 50px;
				@media screen and (max-width: $screenMobile) {
					width: 90%;
					margin-left: 0;
					transform-origin: center top;
				}
				.title
				{
					padding: 10px 40px 10px;
					font-size: 2.5vw;
					color: $color-darkBlue;
					display: flex;
					align-items: center;
					// transform: translateY(-50%);
					@media screen and (max-width: $screenMobile) {
						font-size: 40px;
						justify-content: center;
						padding: 30px 40px 10px;
					}
					.line
					{
						width: 50px;
						height: 1px;
						background: $color-darkBlue;
						position: absolute;
						transform-origin: right center;
						transform: translateX(-150%) scaleX(0);
						@include transition(transform 1s 0.5s);
						&.active
						{
							transform: translateX(-150%) scaleX(1);
						}
						@media screen and (max-width: $screenMobile) {
							width: 1px;
							height: 50px;
							transform-origin: center bottom;
							transform: translateY(-100%) scaleY(0);
							&.active
							{
								transform: translateY(-100%) scaleY(1);
							}
						}
					}
				}
				.text
				{
					// font-size: 0.75vw;
					font-size: 14.4px;
					padding: 0 40px 50px;
					color: $color-gray;
					height: 180px;
					overflow: hidden;
					@media screen and (max-width: $screenMobile) {
						font-size: 11px;
						padding: 0 30px 50px;
						text-align: center;
					}
					p
					{
						padding: 10px 0;
					}
					.scrollbar-track
					{
						background: transparent;
					}
					.scrollbar-thumb
					{
						background: $color-appleGreen;
						width: 4px;
					}
				}
				.cover
				{
					width: 100%;
					height: 100%;
					position: absolute;
					background: white;
					transform-origin: right center;
					bottom: 0;
					@include transition(transform 1.5s);
					&.active
					{
						transform: scaleX(0);
					}
					@media screen and (max-width: $screenMobile) {
						transition: none;
						display: none;
					}
				}
				.reveal
				{
					position: absolute;
					width: 0;
					overflow: hidden;
					transform: translateY(50%);
					margin: 0 40px;
					bottom: 0;
					@include transition(width 1s .5s);
					@media screen and (max-width: $screenMobile) {
						transform: translateX(-50%) translateY(50%);
						margin-left: 50%;
						width: 123px;
					}
					.read-more
					{
						background: $color-darkBlue;
						color: white;
						font-size: 13px;
						font-weight: 700;
						padding: 11px 0;
						width: 123px;
						white-space: nowrap;
						text-align: center;
						display: block;
						@include transition(background .25s);
						&:hover
						{
							background: $color-appleGreen;
							@media screen and (max-width: $screenMobile) {
								background: $color-darkBlue;
							}
						}
						&:active
						{
							@media screen and (max-width: $screenMobile) {
								background: $color-appleGreen;
							}
						}
					}
					&.active
					{
						width: 123px;
					}
				}
			}
		}
	}
}

