#kompanija-page
{
	#history
	{
		width: 100%;
		display: flex;
		justify-content: center;
		margin-top: 100px;
		.parallax-wrap
		{
			width: 90%;
			max-width: $contentWidth;
			display: flex;
			align-items: center;
			position: relative;
			@media screen and (max-width: $screenMobile) {
				width: 100%;
				flex-wrap: wrap;
				justify-content: center;
			}
			.history-image-slider
			{
				width: 60%;
				// height: 110%;
				// position: absolute;
				@media screen and (max-width: $screenMobile) {
					width: 100%;
				}
				.image-item
				{
					img
					{
						width: 100%;
					}
				}
			}
			.parallax-box
			{
				width: 50%;
				position: relative;
				right: 0;
				background: white;
				box-shadow: 0 15px 50px rgba(0,0,0,.1);
				flex-shrink: 0;
				margin-left: -10%;
				display: flex;
				flex-direction: column;
				justify-content: flex-end;
				@media screen and (max-width: $screenMobile) {
					width: 90%;
					margin-left: 0;
					transform-origin: center top;
				}
				// left: 60%;
				.title
				{
					padding: 50px 40px 10px;
					font-size: 2.5vw;
					color: $color-darkBlue;
					display: flex;
					align-items: center;
					@media screen and (max-width: $screenMobile) {
						font-size: 40px;
						justify-content: center;
						padding: 30px 40px 10px;
					}
					.line
					{
						width: 50px;
						height: 1px;
						background: $color-darkBlue;
						position: absolute;
						transform-origin: right center;
						transform: translateX(-150%) scaleX(0);
						@include transition(transform 1s 0.5s);
						&.active
						{
							transform: translateX(-150%) scaleX(1);
						}
						@media screen and (max-width: $screenMobile) {
							width: 1px;
							height: 50px;
							transform-origin: center bottom;
							transform: translateY(-100%) scaleY(0);
							&.active
							{
								transform: translateY(-100%) scaleY(1);
							}
						}
					}
				}
				.item
				{
					padding: 0 40px 50px;
					.text
					{
						color: $color-gray;
						font-size: 14.4px;
						@media screen and (max-width: $screenMobile) {
							font-size: 11px;
							text-align: center;
						}
						p
						{ 
							padding: 10px 0;
						}
						.year
						{
							font-size: 4vw;
							font-weight: 700;
							color: $color-lightGray;
							@media screen and (max-width: $screenMobile) {
								font-size: 30px;
							}
						}
						.history-cover
						{
							width: 100%;
							height: 100%;
							position: absolute;
							background: white;
							transform-origin: right center;
							bottom: 0;
							@include transition(transform 1.5s);
							@media screen and (max-width: $screenMobile) {
								display: none;
							}
						}
						&.active
						{
							.history-cover
							{
								transform: scaleX(0);
							}
						}
					}
				}
				.cover
				{
					width: 100%;
					height: 100%;
					position: absolute;
					background: white;
					transform-origin: right center;
					bottom: 0;
					@include transition(transform 1.5s);
					&.active
					{
						transform: scaleX(0);
					}
					@media screen and (max-width: $screenMobile) {
						display: none;
					}
				}
				.history-arrows
				{
					// display: flex;
					color: white;
					position: absolute;
					transform: translateY(50%);
					margin-left: 40px;
					width: 124px;
					@media screen and (max-width: $screenMobile) {
						transform: translateX(-50%) translateY(50%);
						margin-left: 50%;
					}
					.reveal
					{
						width: 0;
						transition: width 1s .5s;
						// overflow: hidden;
						background: $color-darkBlue;
						@media screen and (max-width: $screenMobile) {
							width: 124px;
						}
						&.active
						{
							width: 124px;
						}
					}
					.arrows-wrap
					{
						display: flex;
						width: 124px;
						.arrow, .delimiter
						{
							background: transparent;
							user-select: none;
						}
						.arrow
						{
							outline: none;
							border: none;
							// padding: 10px 20px;
							width: 60px;
							opacity: .3;
							@include transition(all .5s);
							&:hover
							{
								opacity: 1;
								@media screen and (max-width: $screenMobile) {
									opacity: 0.3;
								}
							}
							&:active
							{
								@media screen and (max-width: $screenMobile) {
									opacity: 1;
								}
							}
						}
						.delimiter
						{
							padding: 10px 0;
							pointer-events: none;
							opacity: .25;
						}
					}
				}
			}
		}
	}
}