#recept-page
{
	#content
	{
		width: 100%;
		display: flex;
		justify-content: center;
		padding: 50px 0;
		.wrap
		{
			width: 90%;
			max-width: $contentWidth;
			.title
			{
				padding: 15px 50px;
				// font-size: 2.75vw;
				font-size: 45px;
				color: $color-darkBlue;
				@media screen and (max-width: $screenMobile) {
					padding: 15px 0;
					font-size: 30px;
					text-align: center;
					padding: 15px 0;
				}
			}
			.sub-title
			{
				display: flex;
				align-items: center;
				margin-bottom: 15px;
				font-size: 22px;
				color: $color-darkBlue;
				.ico
				{
					margin-left: 10px;
				}
			}
			.time
			{
				font-weight: 700;
				color: $color-appleGreen;
				display: flex;
				align-items: center;
				@media screen and (max-width: $screenMobile) {
					justify-content: center;
				}
				.ico
				{
					margin-right: 10px;
				}
			}
			p
			{
				padding: 15px 50px;
				font-size: 13px;
				color: $color-gray;
				@media screen and (max-width: $screenMobile) {
					padding: 15px 0;
				}
			}
			.prvi-deo
			{
				border-bottom: 1px solid $color-lightGray;
				padding-bottom: 20px;
			}
			.drugi-deo
			{
				display: flex;
				padding: 40px 50px;
				@media screen and (max-width: $screenMobile) {
					padding: 15px 0;
					flex-wrap: wrap;
				}
				.sastojci
				{
					width: 40%;
					@media screen and (max-width: $screenMobile) {
						width: 100%;
					}
					.lista
					{
						list-style: none;
						padding: 0;
						margin: 0;
						.sastojak
						{
							display: flex;
							align-items: center;
							font-size: 13px;
							color: $color-gray;
							&:before
							{
								content: "";
								background: $color-darkBlue;
								width: 4px;
								height: 4px;
								display: inline-block;
								border-radius: 50%;
								margin-right: 10px;
							}
						}
					}
				}
				.priprema
				{
					width: 56%;
					padding: 0 0 0 4%;
					border-left: 1px solid $color-lightGray;
					@media screen and (max-width: $screenMobile) {
						width: 100%;
						padding: 20px 0;
						border: none;
					}
					.step
					{
						display: flex;
						justify-content: flex-start;
						align-items: center;
						.num
						{
							font-size: 22px;
							font-weight: 700;
							color: $color-darkBlue;
							@media screen and (max-width: $screenMobile) {
								padding-right: 20px;
							}
						}
					}
				}
			}
			.buttons
			{
				display: flex;
				justify-content: space-between;
				align-items: center;
				padding: 50px 50px;
				@media screen and (max-width: $screenMobile) {
					padding: 20px 0;
					flex-wrap: wrap;
					justify-content: center;
					flex-direction: column;
				}
				.date
				{
					// font-size: 1.2vw;
					font-size: 11px;
					font-weight: 700;
					color: $color-appleGreen;
					padding: 0;
					.label
					{
						color: $color-gray;
					}
				}
				.social
				{
					display: flex;
					justify-content: center;
					align-items: center;
					@media screen and (max-width: $screenMobile) {
						flex-wrap: wrap-reverse;
						margin-top: 25px;
					}
					.label
					{
						font-size: 13px;
						color: $color-gray;
						margin-right: 10px;
						@media screen and (max-width: $screenMobile) {
							width: 100%;
							margin: 5px 0;
							text-align: center;
						}
					}
					a
					{
						svg
						{
							padding: 5px;
						}
						.circle
						{
							fill: $color-gray;
						}
						.icon
						{
							fill: white;
						}
					}
					.fb
					{
						&:hover
						{
							.circle
							{
								fill: #3b5998;
							}
							.icon
							{
								fill: white;
							}
							@media screen and (max-width: $screenMobile) {
								.circle
								{
									fill: $color-gray;
								}
								.icon
								{
									fill: white;
								}
							}
						}
						&:active
						{
							@media screen and (max-width: $screenMobile) {
								.circle
								{
									fill: #3b5998;
								}
								.icon
								{
									fill: white;
								}
							}
						}
					}
					.in
					{
						&:hover
						{
							.circle
							{
								fill: #0077b5;
							}
							.icon
							{
								fill: white;
							}
							@media screen and (max-width: $screenMobile) {
								.circle
								{
									fill: $color-gray;
								}
								.icon
								{
									fill: white;
								}
							}
						}
						&:active
						{
							@media screen and (max-width: $screenMobile) {
								.circle
								{
									fill: #0077b5;
								}
								.icon
								{
									fill: white;
								}
							}
						}
					}
					.tw
					{
						&:hover
						{
							.circle
							{
								fill: #00aced;
							}
							.icon
							{
								fill: white;
							}
							@media screen and (max-width: $screenMobile) {
								.circle
								{
									fill: $color-gray;
								}
								.icon
								{
									fill: white;
								}
							}
						}
						&:active
						{
							@media screen and (max-width: $screenMobile) {
								.circle
								{
									fill: #00aced;
								}
								.icon
								{
									fill: white;
								}
							}
						}
					}
				}
			}
		}
	}
}