#recept-page
{
	#hero
	{
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		padding-bottom: 50px;
		box-shadow: 0 0 100px rgba(0,0,0,.25);
		background: white;
		@media screen and (max-width: $screenMobile) {
			height: 50vh;
			padding-bottom: 0;
		}
		.hero-wrap
		{
			width: 90%;
			max-width: $contentWidth;
			@media screen and (max-width: $screenMobile) {
				width: 100%;
			}
		}
		.slider-wrap
		{
			position: relative;
			z-index: 10;
			.hero-slider
			{
				.item
				{
					position: relative;
					outline: none;
					@media screen and (max-width: $screenMobile) {
						display: flex;
						justify-content: center;
						align-items: center;
						overflow: hidden;
						height: 50vh;
					}
					img
					{
						width: 100%;
						@media screen and (max-width: $screenMobile) {
							width: auto;
						}
					}
					.text
					{
						width: 35%;
						color: white;
						position: absolute;
						transform: translateY(-100%);
						margin: -35px 0 0 35px;
						h4
						{
							font-size: 2.8vw;
							line-height: 3vw;
						}
						p
						{
							font-size: 0.8vw;
						}
					}
				}
			}
			.hero-arrows
			{
				display: flex;
				flex-direction: column;
				align-items: center;
				position: absolute;
				left: 50%;
				transform: translate(-50%,-75%);
				color: white;
				.pages
				{
					margin-bottom: 15px;
					.current-page
					{
						font-weight: 700;
						color: $color-appleGreen;
					}
				}
				.arrows
				{
					display: flex;
					background: $color-darkBlue;
					.arrow, .delimiter
					{
						background: transparent;
						user-select: none;
					}
					.arrow
					{
						outline: none;
						border: none;
						padding: 15px 20px;
						width: 60px;
						opacity: .3;
						@include transition(all .5s);
						&:hover
						{
							opacity: 1;
						}
					}
					.delimiter
					{
						padding: 15px 0;
						pointer-events: none;
						opacity: .25;
					}
				}
			}
		}
	}
}