#faq-page
{
	#content
	{
		width: 100%;
		display: flex;
		justify-content: center;
		margin-top: 100px;
		@media screen and (max-width: $screenMobile) {
			margin: 0;
			padding-top: 100px;
		}
		.wrap
		{
			width: 90%;
			max-width: $contentWidth;
			.lista
			{
				list-style: none;
				.item
				{
					margin: 10px 0;
					@include transition(all .25s);
					.head
					{
						display: flex;
						align-items: center;
						.line
						{
							width: 70px;
							height: 1px;
							background: $color-appleGreen;
							position: absolute;
							transform: translateX(-110%) scale(0);
							transform-origin: right center;
							@include transition(all .75s);
						}
						.question
						{
							color: $color-darkBlue;
							font-weight: 400;
							cursor: pointer;
							@include transition(all .5s);
							&:hover
							{
								color: $color-appleGreen;
							}
						}
					}
					.answer
					{
						color: $color-gray;
						font-size: 13px;
						margin: 10px 0;
						display: none;
						ul
						{
							padding: 15px;
						}
					}
					&.active
					{
						margin: 30px 0;
						.head
						{
							.line
							{
								transform: translateX(-110%) scale(1);
							}
							.question
							{
								font-size: 33px;
								font-weight: 700;
								color: $color-appleGreen;
								@media screen and (max-width: $screenMobile) {
									font-size: 23px;
								}
							}
						}
					}
				}
			}
		}
	}
}