#vesti-page
{
	#content
	{
		width: 100%;
		display: flex;
		justify-content:center;
		.wrap
		{
			width: 90%;
			max-width: $contentWidth;
			display: flex;
			flex-wrap: wrap;
			justify-content:center;
			@media screen and (max-width: $screenMobile) {
				width: 100%;
			}
			.item
			{
				width: 45%;
				position: relative;
				// outline: none;
				// display: flex;
				// flex-direction: column;
				// align-items: center;
				// justify-content: flex-start;
				margin: 0 2% 70px;
				cursor: pointer;
				box-shadow: 0 20px 80px rgba(0, 0, 0, .25);
				background: white;
				@media screen and (max-width: $screenMobile) {
					width: 100%;
					margin: 0;
				}
				.image
				{
					position: relative;
					width: 100%;
					// display: flex;
					// align-items: center;
					img
					{
						width: 100%;
					}
					.light-overlay
					{
						width: 100%;
						height: 100%;
						background: linear-gradient(rgba(255,255,255,0), rgba(255,254,255,.8) 60%, white 90%);
						position: absolute;
						// opacity: 0;
						transform-origin: center bottom;
						transform: scaleY(0);
						top: 0;
						@include transition(all .5s);
					}
				}
				.text
				{
					text-align: center;
					padding-bottom: 20px;
					position: relative;
					z-index: 10;
					width: 100%;
					h4
					{
						font-size: 1.7vw;
						line-height: 1.8vw;
						color: $color-darkBlue;
						margin: 2vw auto;
						width: 80%;
						@media screen and (max-width: $screenMobile) {
							font-size: 19px;
							line-height: 20px;
						}
					}
					p
					{
						width: 65%;
						// font-size: .8vw;
						font-size: 15px;
						color: $color-gray;
						margin: 1.5vw auto;
						@media screen and (max-width: $screenMobile) {
							font-size: 13px;
						}
					}
					span
					{
						// font-size: 0.7vw;
						font-size: 14px;
						font-weight: 700;
						color: $color-appleGreen;
						@media screen and (max-width: $screenMobile) {
							font-size: 10px;
						}
					}
				}
				.current-blob
				{
					position: absolute;
					transform: translateY(100%);
					width: 100%;
					bottom: 0;
					@media screen and (max-width: $screenMobile) {
						display: none;
					}
					@media screen and (min-width:0\0) {
						display: none;	
					}
					svg
					{
						transform: scaleY(0);
						transform-origin: top center;
						@include transition(all .75s);
						width: 100%;
					}
				}
				&:hover
				{
					.light-overlay
					{
						transform: scaleY(1);
					}
					.current-blob
					{
						svg
						{
							transform: scaleY(1);
						}
					}
				}
				@media screen and (max-width: $screenMobile) {
					&:hover
					{
						.light-overlay
						{
							transform: scaleY(0);
						}
					}
					&:active
					{
						.light-overlay
						{
							transform: scaleY(1);
						}
					}
				}
			}
		}
	}
}