#maslac-page
{
	position: relative;
	#hero
	{
		.hero-wrap
		{
			height: initial;
			.slider-wrap
			{
				height: initial;
				.hero-slider
				{
					.item
					{
						.parallax-wrap
						{
							height: initial;
							@media screen and (max-width: $screenMobile) {
								height: 100vh;
							}
						}
						.video
						{
							video
							{
								position: relative;
								min-width: initial;
								min-height: initial;
								width: 100%;
								@media screen and (max-width: $screenMobile) {
									position: absolute;
									min-width: 100vw;
									min-height: 100%;
									width: auto;
								}
							}
						}
					}
				}
			}
			.scroll-arrow
			{
				transform: translateX(-50%) translateY(-130px);
			}
			.scroll-dots
			{
				position: absolute;
				width: 90%;
				transform: translateY(-125%);
				.dot
				{
					background: #ded09e;
				}
			}
		}
	}
	#info
	{
		width: 100%;
		display: flex;
		justify-content: center;
		margin: 80px 0;
		@media screen and (max-width: $screenMobile) {
			margin: 20px 0;
		}
		.wrap
		{
			width: 90%;
			max-width: $contentWidth;
			display: flex;
			flex-direction: column;
			align-items: center;
			.hidden-text
			{
				text-align: center;
				width: 0%;
				padding: 1px;
				overflow: hidden;
				white-space: nowrap;
				margin: 10px 0;
				display: flex;
				flex-direction: column;
				align-items: center;
				visibility: hidden;
				@include transition(width 3s);
				h3
				{
					font-size: 33px;
					color: #67bc9c;
					text-align: center;
				}
				p
				{
					font-size: 13px;
					color: $color-gray;
					padding: 10px 0;
					text-align: center;
				}
				&.active
				{
					width: 100%;
					visibility: visible;
				}
				@media screen and (max-width: $screenMobile) {
					width: 100%;
					visibility: visible;
					white-space: normal;
					h3
					{
						font-size: 27px;
					}
				}
			}
		}
	}
	#packshots
	{
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 160px 0;
		@media screen and (max-width: $screenMobile) {
			margin: 20px 0;
			position: relative;
		}
		.maslac-packshot-slider
		{
			display: flex;
			align-items: center;
			justify-content: center;
			position: relative;
			@media screen and (max-width: $screenMobile) {
				width: 100%;
				flex-shrink: 0;
				overflow: hidden;
			}
			span.namaz-name
			{
				position: absolute;
				top: 30px;
				color: #2e9dd9;
				font-weight: 700;
				font-size: 30px;
				@media screen and (max-width: $screenMobile) {
					top: 0;
					left: 50%;
					transform: translateX(-50%);
				}
			}
			.vLine
			{
				width: 1px;
				height: 70px;
				position: absolute;
				background: gray;
				@media screen and (max-width: $screenMobile) {
					display: none;
				}
			}
			.hLine
			{
				width: 100px;
				height: 1px;
				position: absolute;
				background: gray;
				@media screen and (max-width: $screenMobile) {
					display: none;
				}
			}
			.items
			{
				position: absolute;
				top: 165px;
				// left: 210px;
				margin-left: -35px;
				@media screen and (max-width: $screenMobile) {
					top: 135px;
					// left: initial;
					width: 40%;
					left: 50%;
					transform: translateX(-50%);
				}
				@media screen and (max-width: 550px) {
					width: 60%;
				}
				@media screen and (max-width: 400px) {
					top: 105px;
				}
				#originalNamaz
				{
					max-width: 306px;
					max-height: 217px;
					width: 100%;
					height: auto;
					display: flex;
					flex-direction: column;
					align-items: center;
					justify-content: center;
					@media screen and (max-width: $screenMobile) {
						display: block;
					}
				}
				#slaniNamaz
				{
					max-width: 306px;
					max-height: 217px;
					width: 100%;
					height: auto;
					display: none;
					flex-direction: column;
					align-items: center;
					justify-content: center;
					@media screen and (max-width: $screenMobile) {
						display: block;
					}
				}
			}
			#astal
			{
				max-width: 800px;
				max-height: 600px;
				width: 100%;
				height: auto;
				@media screen and (max-width: $screenMobile) {
					max-width: 800px;
					max-height: 600px;
					width: 100%;
					height: auto;
					flex-shrink: 0;
				}
				@media screen and (max-width: 550px) {
					width: 150%;
				}
			}
			#smearBtn
			{
				position: absolute;
				bottom: 10px;
				display: flex;
				align-items: center;
				justify-content: center;
				@media screen and (max-width: $screenMobile) {
					// bottom: -40px;
					width: 150px;
					left: 50%;
					transform: translateX(-50%);
				}
			}
		}
		.maslac-arrows
		{
			outline:none;
			border: none;
			background: transparent;
			border-radius: 0;
			padding: 1px;
			width: 25px;
			height: 36px;
			position: relative;
			@include transition(width .25s);
			&:hover
			{
				transform: scale(1.5);
				.stroke
				{
					fill: #FFFFFF;
				}
			}
			@media screen and (max-width: $screenMobile) {
				position: absolute;
				bottom: 15px;
				z-index: 1000;
				&.prev-arrow
				{
					left: 15%;
				}
				&.next-arrow
				{
					right: 15%;
				}
				&:hover
				{
					transform: none;
					.stroke
					{
						fill: none;
					}
				}
				&:active
				{
					transform: scale(1.5);
					.stroke
					{
						fill: #FFFFFF;
					}
				}
			}
		}
	}
	#frizhider-anim
	{
		width: 100%;
		display: flex;
		justify-content: center;
		margin: 80px 0;
		.wrap
		{
			width: 90%;
			max-width: $contentWidth;
			display: flex;
			flex-direction: column;
			align-items: center;
			.frizhider-text
			{
				text-align: center;
				width: 0%;
				padding: 1px;
				overflow: hidden;
				white-space: nowrap;
				color: white;
				display: flex;
				flex-direction: column;
				align-items: center;
				position: absolute;
				z-index: -1;
				visibility: hidden;
				@include transition(width 2s);
				p
				{
					font-size: 32px;
					font-weight: 700;
					display: flex;
					flex-direction: column;
					align-items: center;
					@media screen and (max-width: $screenMobile) {
						font-size: 23px;
					}
					.vLine
					{
						width: 1px;
						height: 50px;
						background: white;
						display: block;
						margin-top: 30px;
						transform-origin: center top;
						transform: scaleY(0);
						@include transition(transform 1.5s);
						@media screen and (max-width: $screenMobile) {
							display: none;
						}
					}
				}
				&.active
				{
					width: 305px;
					visibility: visible;
					p
					{
						.vLine
						{
							transform: scaleY(1);
						}
					}
				}
			}
			#frizhider
			{
				width: 90%;
				height: auto;
				max-width: 880px;
				max-height: 880px;
				margin-top: 100px;
				z-index: 100;
				visibility: hidden;
			}
		}
	}
	#maslac-footer
	{
		width: 100%;
		display: flex;
		justify-content: center;
		margin: 80px 0 0;
		padding-bottom: 80px;
		.wrap
		{
			width: 90%;
			max-width: $contentWidth;
			display: flex;
			flex-direction: column;
			align-items: center;
			h3
			{
				font-size: 38px;
				color: #67bc9c;
				text-align: center;
				@media screen and (max-width: $screenMobile) {
					font-size: 28px;
				}
			}
			.social {
				display: flex;
				align-items: center;
				justify-content: center;
				margin: 25px 0;
				.icon {
					height: 42px;
					width: 42px;
					display: block;
					background-color: #b8b8b8;
					margin: 10px;
					border-radius: 50%;
					display: flex;
					align-items: center;
					justify-content: center;
					@include transition(all 0.5s);
					svg {
						height: 20px;
						width: 20px;
						fill: white;
						&.fb {
							height: 23px;
							width: 23px;
						}
					}
					&:hover {
						background: #67bc9c;
					}
				}
			}
		}
	}
	.smear-parallax
	{
		width: 100%;
		position: absolute;
		margin-top: 160px;
		z-index: -10000;
		@media screen and (max-width: $screenMobile) {
			margin-top: 0;
		}
		.parallax-wrap
		{
			width: 100%;
			height: 100%;
			.window
			{
				width: 100%;
				height: 100%;
				background-image: url("../images/maslac/smear.jpg");
				background-position-x: center;
				background-position-y: 0%;
				background-repeat: no-repeat;
				background-size: cover;
				background-color: #f4ca76;
			}
		}
	}
}