#preload-page
{
	height: 100vh;
	width: 100%;
	background: white;
	overflow-y: hidden;
	position: fixed;
	top: 0;
	transform-origin: right center;
	z-index: 99999;
	pointer-events: none;
	display: flex;
	justify-content: center;
	align-items: center;
	@include transition(transform 1.5s .25s);
	&.active
	{
		transform: scaleX(0);
	}
	#preload-drop
	{
		@include transition(opacity .25s);
		svg
		{
			max-width: 120px;
		}
		&.active
		{
			opacity: 0;
		}
	}
}

#page-between
{
	height: 100vh;
	width: 100%;
	background: transparent;
	position: absolute;
	top: 0;
	transform-origin: right center;
	z-index: 9999;
	display: flex;
	justify-content: center;
	align-items: center;
	.load-spinner
	{
		border: 8px solid $color-appleGreen;
		border-top: 8px solid $color-darkBlue;
		border-radius: 50%;
		width: 30px;
		height: 30px;
		animation: spin-loader 2s linear infinite;
		margin-top: 15px;
	}

	@keyframes spin-loader
	{
		0% { transform: rotate(0deg); }
		100% { transform: rotate(360deg); }
	}

	svg {
		max-width: 120px;
	}
}