#kuhinjica
{
	width: 100%;
	display: flex;
	justify-content:center;
	.wrap
	{
		width: 90%;
		max-width: $contentWidth;
		display: flex;
		flex-wrap: wrap;
		justify-content:center;
		@media screen and (max-width: $screenMobile) {
			width: 100%;
		}
		.item
		{
			width: 23%;
			position: relative;
			display: flex;
			flex-direction: column;
			align-items: center;
			// justify-content: flex-end;
			justify-content: flex-start;
			margin: 0 1% 70px;
			cursor: pointer;
			box-shadow: 0 20px 80px rgba(0, 0, 0, .15);
			background: white;
			@include transition(all .2s);
			@media screen and (max-width: $screenMobile) {
				width: 100%;
				margin: 0;
			}
			.image
			{
				position: relative;
				width: 100%;
				display: flex;
				align-items: center;
				@media screen and (max-width: $screenMobile) {
					height: 175px;
					overflow: hidden;
				}
				img
				{
					width: 100%;
				}
				.dark-overlay
				{
					width: 100%;
					height: 100%;
					background: rgba(4,23,49, .75);
					position: absolute;
					opacity: 0;
					top: 0;
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
					top: 0;
					left: 0;
					@include transition(all .2s);
					@media screen and (max-width: $screenMobile) {
						display: none;
					}
					.clock
					{
						width: 35%;
						margin: 1vw 0;
					}
					.time
					{
						color: white;
						font-size: 1.2vw;
						font-weight: 700;
					}
				}
			}
			.text
			{
				text-align: center;
				padding: 10px 25px;
				position: relative;
				z-index: 10;
				width: 100%;
				box-sizing: border-box;
				// height: 175px;
				@media screen and (max-width: $screenMobile) {
					// height: initial;
				}
				h4
				{
					// font-size: 1.1vw;
					// line-height: 1.3vw;
					font-size: 21px;
					line-height: 23px;
					color: $color-darkBlue;
					margin: .5vw 0;
					@media screen and (max-width: $screenMobile) {
						font-size: 26px;
						line-height: 26px;
					}
				}
				span
				{
					// font-size: 0.5vw;
					font-size: 10px;
					font-weight: 700;
					color: $color-appleGreen;
					@media screen and (max-width: $screenMobile) {
						font-size: 15px;
						margin: 15px 0;
						display: block;
					}
				}
				p
				{
					// font-size: .6vw;
					font-size: 12px;
					color: $color-gray;
					margin: 1vw auto;
					@media screen and (max-width: $screenMobile) {
						font-size: 15px;
					}
				}
			}
			&:hover
			{
				transform: translateY(-10px);
				box-shadow: 0 20px 80px rgba(0, 0, 0, .45);
				.dark-overlay
				{
					opacity: 1;
				}
			}
			@media screen and (max-width: $screenMobile) {
				&:hover
				{
					transform: none;
					box-shadow: none;
				}
			}
		}
	}
}