* {
    margin: 0;
    padding: 0;
}
body, html {
    height: 100%;
    width: 100%;
    background: #e8e8e8;
    overflow-y: hidden;
    font-family: 'Montserrat', sans-serif;
}
svg {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 0;
}
svg#intro {
    opacity: 0.95;
    z-index: 2;
}
.div404 {
    height: 180px;
    width: 300px;
    background: #011d43;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(-15deg) translate(-50%, -50%);
    transform-origin: center center;
    position: absolute;
    top: 45%;
    left: 50%;
    font-size: 70px;
    font-weight: bold;
    color: white;
    z-index: 1;
    -webkit-animation: animate-arrow 1.5s alternate infinite ease-in-out;
    animation: animate-arrow 1.5s alternate infinite ease-in-out;
}
.div404.no-color {
    background: transparent;
    opacity: 0.12;
    color: #011d43;
    z-index: 100;
}
p.msg {
    width: 100%;
    position: absolute;
    bottom: 17%;
    left: 0;
    text-align: center;
    z-index: 1000;
    font-weight: 400;
    color: #001c44;
    font-size: 24px;
    line-height: 1.35;
}

p.msg a {
    font-weight: 400;
    color: #96cc42;
    text-decoration: none;
}

.logo
{
    position: absolute;
    left: 50%;
    top: 50px;
    transform: translateX(-50%);
    z-index: 1000;
}

.logo a
{
    display: block;
}

@-webkit-keyframes animate-arrow
{
    100%
    {
        margin-top: 10px;
        transform: rotate(-13deg) translate(-50%, -50%);
    }
}
@keyframes animate-arrow
{
    100%
    {
        margin-top: 10px;
        transform: rotate(-13deg) translate(-50%, -50%);
    }
}