// Colors
$color-inputGray: #f5f5f5;
$color-lightGray: #dfdfdf;
$color-socialGray: #b8b8b8;
$color-gray: #808080;
$color-darkBlue: #001c44;
$color-appleGreen: #96cc42;
$color-junior-orange: #f7b143;
$color-junior-green: #00968f;

// Dimensions
$contentWidth: 1295px;

// Screens
$screenMobile: 768px;