#maslac-page,
#junior-page,
#home-page
{
	#hero
	{
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		background: white;
		@media screen and (max-width: $screenMobile) {
			height: 100vh;
			overflow: hidden;
		}
		.hero-wrap
		{
			width: 90%;
			height: calc(100vh - 55px);
			@media screen and (max-width: $screenMobile) {
				height: 100%;
				width: 100%;
			}
		}
		.slider-wrap
		{
			position: relative;
			z-index: 10;
			height: calc(100% - 90px);
			@media screen and (max-width: $screenMobile) {
				height: 100%;
			}
			.hero-slider
			{
				height: 100%;
				.item
				{
					position: relative;
					outline: none;
					height: 100%;
					overflow: hidden;
					@media screen and (max-width: $screenMobile) {
						display: flex;
						justify-content: center;
						align-items: center;
						overflow: hidden;
						height: 100vh;
					}
					.parallax-wrap
					{
						width: 100%;
						height: calc(100vh - 155px);
						@media screen and (max-width: $screenMobile) {
							height: 100vh;
						}
						.window
						{
							width: 100%;
							height: 100%;
							background-position-x: center;
							background-position-y: 0%;
							background-repeat: no-repeat;
							background-size: cover;
						}
					}
					.video
					{
						height: 100%;
						display: flex;
						justify-content: center;
						align-items: center;
						video
						{
							position: absolute;
							top: 0;
							left: 50%;
							min-width: 100vw;
							min-height: 100%;
							width: auto;
							height: auto;
							z-index: -100;
							transform: translateX(-50%);
						}
						.play-btn
						{
							border-left: 65px solid white;
							border-top: 45px solid transparent;
							border-bottom: 45px solid transparent;
						}
					}
					.text
					{
						width: 0%;
						color: white;
						position: absolute;
						transform: translateY(-100%);
						margin: -80px 0 0 100px;
						cursor: default;
						overflow: hidden;
						white-space: nowrap;
						@include transition(width 3s);
						@media screen and (max-width: $screenMobile) {
							// transform: translateY(-124.56%);
							bottom: 100px;
							text-align: center;
							margin: 0;
							transition: none;
							width: 90%;
							white-space: normal;
							transform: none;
							br
							{
								display: none;
							}
						}
						&.active
						{
							width: 50%;
							@media screen and (max-width: $screenMobile) {
								width: 90%;
							}
						}
						h4
						{
							font-size: 2.8vw;
							line-height: 3vw;
							margin-bottom: 0.3vw;
							@media screen and (max-width: $screenMobile) {
								font-size: 8vw;
								line-height: 9vw;
							}
						}
						p
						{
							// font-size: 0.8vw;
							font-size: 15px;
							@media screen and (max-width: $screenMobile) {
								font-size: 3.75vw;
							}
						}
						.mobile-link
						{
							outline: none;
							background: $color-appleGreen;
							padding: 10px 45px;
							font-size: 5vw;
							font-weight: 700;
							display: none;
							width: 50%;
							margin: 30px auto 0;
							@media screen and (max-width: $screenMobile) {
								display: block;
							}
						}
					}
				}
			}
			#milk-drop
			{
				position: absolute;
				left: 50%;
				width: 60px;
				transform: translateX(-50%);
				display: none;
				&.opened
				{
					display: initial;
					animation: animate-drop .65s forwards ease-in;
				}
			}
			#milk-splash
			{
				position: absolute;
				bottom: 0;
				left: 50%;
				width: 150px;
				transform: translateX(-50%);
				@media screen and (max-width: $screenMobile) {
					display: none;
				}
			}
			#wave-container
			{
				width: 100%;
				height: 50px;
				position: absolute;
				bottom: 0;
				display: flex;
				justify-content: center;
				overflow: hidden;
				canvas
				{
					width: calc(100% + 40px);
					height: 101%;
					overflow: hidden;
					margin-left: -20px;
				}
			}
			.hero-arrows
			{
				display: flex;
				align-items: center;
				position: absolute;
				right: 0;
				transform: translate(-97px, -200%);
				color: white;
				transition: transform 1s .5s;
				@media screen and (max-width: $screenMobile) {
					transform: translate(-50%,-105%);
					flex-direction: column;
					left: 50%;
				}
				.pages
				{
					margin-right: 15px;
					@media screen and (max-width: $screenMobile) {
						margin-right: 0;
						margin-bottom: 15px;
						color: $color-gray;
					}
					.current-page
					{
						font-weight: 700;
						color: $color-appleGreen;
					}
				}
				.arrows-wrap
				{
					width: 0;
					transition: width 1s .5s;
					overflow: hidden;
					@media screen and (max-width: $screenMobile) {
						width: 127px;
					}
				}
				.arrows
				{
					display: flex;
					background: $color-darkBlue;
					width: 127px;
					.arrow, .delimiter
					{
						background: transparent;
						user-select: none;
					}
					.arrow
					{
						outline: none;
						border: none;
						width: 62px;
						height: 48px;
						svg
						{
							opacity: .3;
							@include transition(opacity .5s);
						}
						&:hover
						{
							svg
							{
								opacity: 1;
							}
						}
						@media screen and (max-width: $screenMobile) {
							&:hover
							{
								svg
								{
									opacity: .3;
								}
							}
							&:active
							{
								svg
								{
									opacity: 1;
								}
							}
						}
					}
					.delimiter
					{
						padding: 15px 0;
						pointer-events: none;
						opacity: .25;
					}
				}
				&.active
				{
					transform: translate(30px, -200%);
					@media screen and (max-width: $screenMobile) {
						transform: translate(-50%, -105%);
					}
					.arrows-wrap
					{
						width: 127px;
					}
				}
			}
		}
		.shadow-box
		{
			width: 100%;
			height: 180px;
			background: white;
			position: absolute;
			left: 0;
			transform: translateY(-50%);
			margin-top: -6px;
			box-shadow: 0 0 100px rgba(0,0,0,.25);
			@media screen and (max-width: $screenMobile) {
				display: none;
			}
		}
		.scroll-arrow
		{
			position: absolute;
			left: 50%;
			transform: translateX(-50%) translateY(-60px);
			z-index: 15;
			color: white;
			pointer-events: none;
			user-select: none;
			animation: animate-arrow .5s alternate infinite ease-in-out;
			@media screen and (max-width: $screenMobile) {
				display: none;
			}
		}
		.scroll-dots
		{
			display: flex;
			flex-direction: column;
			align-items: center;
			padding: 12px 0;
			z-index: 10;
			position: relative;
			@media screen and (max-width: $screenMobile) {
				display: none;
			}
			.dot
			{
				width: 6px;
				height: 6px;
				background: $color-appleGreen;
				margin: 3px 0;
				border-radius: 50%;
				opacity: 0;
				@for $i from 1 to 6 {
					&:nth-child(#{$i}) {
						animation: animate-dots 2s .2s * $i infinite;
					}
				}
			}
			&.green {
				.dot {
					background: $color-junior-orange;
				}
			}
		}
	}

	@keyframes animate-drop
	{
		0%
		{
			// transform: translateX(-50%);
			top: 155px;
		}
		100%
		{
			// transform: translateX(-50%);
			top: 100%;
		}
	}

	@keyframes animate-arrow
	{
		100%
		{
			margin-top: 10px;
		}
	}

	@keyframes animate-dots
	{
		0%
		{
			opacity: 0;
		}
		50%
		{
			opacity: 1;
		}
		100%
		{
			opacity: 0;
		}
	}
}


#junior-page #hero {
	@media screen and (max-width: $screenMobile) {
		box-shadow: none !important;
	}
}