#junior-page,
#home-page
{
	#proizvodi
	{
		width: 100%;
		margin: 100px 0;
		@media screen and (max-width: $screenMobile) {
			flex-direction: column;
			justify-content: flex-end;
			margin: 30px 0;
		}
		.wrap
		{
			width: 100%;
			@media screen and (max-width: $screenMobile) {
				width: 100%;
			}
			.item,
			.junior-item
			{
				width: 20%;
				display: flex;
				flex-direction: column;
				align-items: center;
				cursor: pointer;
				outline: none;
				.proizvod
				{
					width: 100%;
					height: 60%;
					display: flex;
					flex-direction: column;
					justify-content: flex-end;
					align-items: center;
					pointer-events: none;
					.package3d
					{
						width: 146px;
						height: 300px;
						pointer-events: none;
						z-index: 1000;
					}
					.rings
					{
						z-index: 0;
						transform: translateY(-5px);
						display: flex;
						flex-direction: column;
						align-items: center;
						justify-content: center;
						.ring
						{
							border: 1.3px solid $color-appleGreen;
							border-radius: 50%;
							position: absolute;
							left: 50%;
							top: 50%;
							transform: scale(0) translate(-50%, -50%);
							transform-origin: left top;
							&.prvi
							{
								width: 200px;
								height: 45px;
								@include transition(all 0.5s);
							}
							&.drugi
							{
								width: 280px;
								height: 65px;
								@include transition(all 0.6s);
							}
						}
					}
				}
				.line
				{
					width: 1px;
					height: 45px;
					background: $color-darkBlue;
					margin: 45px 0 20px;
					transform: scale(0);
					pointer-events: none;
					@include transition(all 0.25s);
					@media screen and (max-width: $screenMobile) {
						display: none;
					}
				}
				.info
				{
					width: 90%;
					opacity: 0.25;
					pointer-events: none;
					position: relative;
					@include transition(all 0.25s);
					@media screen and (max-width: $screenMobile) {
						margin-top: 40px;
					}
					h5
					{
						text-align: center;
						font-weight: 700;
						font-size: 23px;
						color: $color-darkBlue;
						height: 60px;
					}
					span
					{
						text-align: center;
						font-size: 11px;
						color: $color-gray;
						display: block;
						margin-top: 30px;
						height: 20px;
						@media screen and (max-width: $screenMobile) {
							// margin-top: 5px;
							display: none;
						}
					}
					.mobile-info
					{
						display: none;
						font-size: 23px;
						color: $color-appleGreen;
						font-weight: 700;
						margin-bottom: 15px;
						@media screen and (max-width: $screenMobile) {
							display: flex;
    						justify-content: center;
						}
					}
					.cover
					{
						width: 100%;
						height: 100%;
						position: absolute;
						top: 0;
						background: white;
						transform-origin: center right;
						@include transition(transform 1.5s);
						&.active
						{
							transform: scaleX(0);
						}
						@media screen and (max-width: $screenMobile) {
							display: none;
						}
					}
				}
				&:hover
				{
					.proizvod
					{
						.rings
						{
							.ring
							{
								transform: scale(1) translate(-50%, -50%);
							}
						}
					}
					.line
					{
						transform: scale(1);
					}
					.info
					{
						opacity: 1;
					}
				}
			}
			@media screen and (max-width: $screenMobile) {
				.slick-center
				{
					.proizvod
					{
						.rings
						{
							.ring
							{
								transform: scale(1) translate(-50%, -50%);
							}
						}
					}
					.line
					{
						transform: scale(1);
					}
					.info
					{
						opacity: 1;
					}
				}
			}
		}
		.arrows3d
		{
			align-items: center;
			position: relative;
			color: white;
			transition: transform 1s .5s;
			display: none;
			transform: translate(-50%, 0);
			flex-direction: column-reverse;
			left: 50%;
			margin-top: 15px;
			@media screen and (max-width: $screenMobile) {
				display: flex;
			}
			.pages
			{
				margin-right: 0;
				margin-top: 15px;
				color: $color-gray;
				.current-page
				{
					font-weight: 700;
					color: $color-appleGreen;
				}
			}
			.arrows-wrap
			{
				width: 0;
				transition: width 1s .5s;
				overflow: hidden;
				@media screen and (max-width: $screenMobile) {
					width: 127px;
				}
			}
			.arrows
			{
				display: flex;
				background: $color-darkBlue;
				width: 127px;
				.arrow, .delimiter
				{
					background: transparent;
					user-select: none;
				}
				.arrow
				{
					outline: none;
					border: none;
					width: 62px;
					height: 48px;
					svg
					{
						opacity: .3;
						@include transition(opacity .5s);
					}
					&:hover
					{
						svg
						{
							opacity: 1;
						}
					}
					@media screen and (max-width: $screenMobile) {
						&:hover
						{
							svg
							{
								opacity: .3;
							}
						}
						&:active
						{
							svg
							{
								opacity: 1;
							}
						}
					}
				}
				.delimiter
				{
					padding: 15px 0;
					pointer-events: none;
					opacity: .25;
				}
			}
			&.active
			{
				flex-direction: column-reverse;
				left: 50%;
				transform: translate(-50%, 0);
				.arrows-wrap
				{
					width: 127px;
				}
			}
		}
	}
}




