#vesti
{
	width: 100%;
	display: flex;
	justify-content: center;
	position: relative;
	@media screen and (max-width: $screenMobile) {
		flex-direction: column;
		justify-content: flex-end;
	}
	.vesti-slider
	{
		width: calc(100% - 7vw);
		@media screen and (max-width: $screenMobile) {
			width: 100%;
		}
		.item
		{
			position: relative;
			outline: none;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: flex-end;
			padding-bottom: 76px;
			cursor: pointer;
			@media screen and (max-width: $screenMobile) {
				padding-bottom: 0;
			}
			@media screen and (min-width:0\0) {
				padding-bottom: 0;
			}
			img
			{
				width: 100%;
			}
			.dark-overlay
			{
				width: 100%;
				height: 100%;
				background: black;
				position: absolute;
				opacity: 0.6;
				left: 0;
				@media screen and (min-width:0\0) {
					top: 0;
				}
				@include transition(all .5s);
				&.active
				{
					opacity: 0;
				}
				@media screen and (max-width: $screenMobile) {
					display: none;
				}
			}
			.light-overlay
			{
				width: 100%;
				height: 0;
				background: linear-gradient(rgba(255,255,255, 0), rgba(255,255,255, 0.8), rgba(255,255,255, 1));
				position: absolute;
				left: 0;
				margin-top: 1px;
				@media screen and (min-width:0\0) {
					bottom: 0;
				}
				@include transition(all .5s);
				&.active
				{
					height: 100%;
				}
				@media screen and (max-width: $screenMobile) {
					display: none;
				}
			}
			.text
			{
				width: 70%;
				color: white;
				position: absolute;
				text-align: center;
				margin-top: -20px;
				opacity: 0;
				left: 50%;
				transform: translateX(-50%);
				@include transition(all .5s);
				&.active
				{
					opacity: 1;
				}
				@media screen and (max-width: $screenMobile) {
					display: initial;
					width: 100%;
					position: relative;
					margin-top: 0;
					opacity: 1;
					padding: 0 5%;
					box-sizing: border-box;
				}
				@media screen and (min-width:0\0) {
					bottom: 20px;
				}
				h4
				{
					// font-size: 1.7vw;
					font-size: 33px;
					line-height: 34px;
					color: $color-darkBlue;
					margin: 2vw 0;
					@media screen and (max-width: $screenMobile) {
						font-size: 7vw;
						line-height: 7vw;
					}
				}
				p
				{
					// width: 65%;
					// font-size: .8vw;
					font-size: 15px;
					color: $color-gray;
					margin: 1.5vw auto;
					@media screen and (max-width: $screenMobile) {
						font-size: 4vw;
						width: 100%;
					}
				}
				span
				{
					// font-size: 0.7vw;
					font-size: 14px;
					font-weight: 700;
					color: $color-appleGreen;
					@media screen and (max-width: $screenMobile) {
						font-size: 3vw;
					}
				}
			}
			.current-blob
			{
				position: absolute;
				width: 100%;
				transform: translateY(100%);
				svg
				{
					width: 100%;
					transform: scaleY(0);
					transform-origin: top center;
					@include transition(all .5s);
					&.show
					{
						transform: scaleY(1);
					}
				}
				@media screen and (min-width:0\0) {
					display: none;	
				}
			}
		}
	}
	.vesti-prev, .vesti-next
	{
		border: none;
		outline: none;
		// width: 70px;
		width: 3.5vw;
		margin: 0;
		background: linear-gradient($color-lightGray, white);
		font-size: 40px;
		color: $color-darkBlue;
		height: calc(100% - 75px);
		position: absolute;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		cursor: pointer;
		@media screen and (min-width:0\0) {
			height: 100%;	
		}
		svg
		{
			opacity: 0.75;
			@include transition(opacity .2s);
		}
		span
		{
			transform-origin: center;
			display: block;
			font-size: 1vw;
			position: absolute;
			bottom: 25%;
			width: 9vw;
		}
		.line
		{
			height: 50px;
			width: 1px;
			position: absolute;
			bottom: -25px;
			left: 50%;
			background: black;
			@include transition(all .5s);
		}
		&:hover
		{
			svg
			{
				opacity: 1;
			}
			.line
			{
				transform: translateY(25%);
			}
		}
	}
	.vesti-prev
	{
		left: 0;
		@media screen and (max-width: $screenMobile) {
			display: none;
		}
		span
		{
			transform: rotate(-90deg);
		}
	}
	.vesti-next
	{
		right: 0;
		@media screen and (max-width: $screenMobile) {
			display: none;
		}
		span
		{
			transform: rotate(90deg);
		}
	}
	.shadow-box
	{
		width: 100%;
		height: 180px;
		background: white;
		position: absolute;
		left: 0;
		bottom: 76px;
		z-index: -1;
		box-shadow: 0 30px 100px rgba(0,0,0,.25);
		@media screen and (max-width: $screenMobile) {
			bottom: 55px;
			box-shadow: 0 20px 40px rgba(0,0,0,.25);
		}
	}
	.arrows-vesti
	{
		align-items: center;
		position: relative;
		color: white;
		transition: transform 1s .5s;
		display: none;
		transform: translate(-50%, 0);
		flex-direction: column-reverse;
		left: 50%;
		margin-top: 15px;
		@media screen and (max-width: $screenMobile) {
			display: flex;
		}
		.pages
		{
			margin-right: 0;
			margin-top: 15px;
			color: $color-gray;
			.current-page
			{
				font-weight: 700;
				color: $color-appleGreen;
			}
		}
		.arrows-wrap
		{
			width: 0;
			transition: width 1s .5s;
			overflow: hidden;
			@media screen and (max-width: $screenMobile) {
				width: 127px;
			}
		}
		.arrows
		{
			display: flex;
			background: $color-darkBlue;
			width: 127px;
			.arrow, .delimiter
			{
				background: transparent;
				user-select: none;
			}
			.arrow
			{
				outline: none;
				border: none;
				// padding: 15px 20px;
				width: 62px;
				height: 48px;
				svg
				{
					opacity: .3;
					@include transition(opacity .5s);
				}
				&:hover
				{
					svg
					{
						opacity: 1;
					}
				}
				@media screen and (max-width: $screenMobile) {
					&:hover
					{
						svg
						{
							opacity: .3;
						}
					}
					&:active
					{
						svg
						{
							opacity: 1;
						}
					}
				}
			}
			.delimiter
			{
				padding: 15px 0;
				pointer-events: none;
				opacity: .25;
			}
		}
		&.active
		{
			flex-direction: column-reverse;
			left: 50%;
			transform: translate(-50%, 0);
			.arrows-wrap
			{
				width: 127px;
			}
		}
	}
}