$pavlaka-red: #f32a29;

#pavlaka-page
{
	#packshots
	{
		width: 100%;
		display: flex;
		justify-content: center;
		margin: 80px 0;
		// overflow: hidden;
		.wrap
		{
			width: 90%;
			max-width: $contentWidth;
			display: flex;
			flex-direction: column;
			align-items: center;
			.sku-mobile
			{
				// width: 100%;
				width: 75%;
				// display: none;
				position: relative;
				display: flex;
				align-items: center;
				justify-content: center;
				@media screen and (max-width: $screenMobile) {
					width: 100%;
				}
				.pavlaka-sku-slider
				{
					width: 100%;
					@media screen and (max-width: $screenMobile) {
						width: 111%;
					}
					.item
					{
						display: flex;
						justify-content: center;
						align-items: center;
						outline: none;
						position: relative;
						// cursor: pointer;
						img
						{
							width: 100%;
							@media screen and (max-width: $screenMobile) {
								width: initial;
							}
						}
						.call-to-action-btn
						{
							background: $pavlaka-red;
							position: absolute;
							top: 0;
							right: -10%;
							width: 80px;
							height: 80px;
							padding: 15px;
							// display: flex;
							align-items: center;
							justify-content: center;
							text-align: center;
							color: white;
							border-radius: 50%;
							box-shadow: 0 0 0 rgba(243,42,41, 0.95);
							animation: pulse 2s infinite;
							display: none;
						}
						&:hover
						{
							@media screen and (min-width: $screenMobile) {
								.call-to-action-btn
								{
									display: flex;
								}
							}
						}
					}
					.slick-list
					{
						overflow: visible;
						@media screen and (max-width: $screenMobile) {
							overflow: hidden;
						}
						.slick-track
						{
							display: flex;
							flex-direction: row-reverse;
						}
					}
				}
				.mobile-table
				{
					width: 125%;
					max-width: initial;
					bottom: -35%;
					position: absolute;
					z-index: -1;
					left: 50%;
					transform: translateX(-50%);
					@media screen and (max-width: $screenMobile) {
						width: 180%;
						max-width: 700px;
						bottom: -25%;
					}
				}
				.pavlaka-sku-arrows
				{
					outline:none;
					border: none;
					background: transparent;
					border-radius: 0;
					padding: 1px;
					width: 45px;
					height: 63px;
					position: relative;
					fill: $color-appleGreen;
					display: none;
					@include transition(width .25s);
					@media screen and (max-width: $screenMobile) {
						position: absolute;
						z-index: 1000;
						width: 35px;
						display: block;
						&.pavlaka-sku-prev
						{
							left: 5%;
						}
						&.pavlaka-sku-next
						{
							right: 5%;
						}
						&:active
						{
							transform: scale(1.5);
							.stroke
							{
								fill: $color-appleGreen;
							}
						}
					}
				}
			}
			.hidden-text
			{
				text-align: center;
				width: 0%;
				padding: 1px;
				overflow: hidden;
				white-space: nowrap;
				margin: 125px 0 50px;
				display: flex;
				flex-direction: column;
				align-items: center;
				visibility: hidden;
				@include transition(width 3s);
				@media screen and (max-width: $screenMobile) {
					margin: 100px 0 50px;
				}
				h3
				{
					font-size: 33px;
					color: $pavlaka-red;
					text-align: center;
					@media screen and (max-width: $screenMobile) {
						font-size: 6vw;
					}
				}
				p
				{
					font-size: 13px;
					color: $color-gray;
					padding: 10px 0;
					text-align: center;
					@media screen and (max-width: $screenMobile) {
						width: 85%;
						font-size: 3.4vw;
						br
						{
							display: none;
						}
					}
				}
				&.active
				{
					width: 100%;
					visibility: visible;
				}
				@media screen and (max-width: $screenMobile) {
					width: 100%;
					visibility: visible;
					white-space: normal;
					h3
					{
						font-size: 27px;
					}
				}
			}
			.call-to-action--mobile-btn
			{
				display: none;
				background: $pavlaka-red;
				align-items: center;
				justify-content: center;
				text-align: center;
				color: white;
				font-size: 5vw;
				font-weight: 700;
				padding: 3vw 13vw;
				@media screen and (max-width: $screenMobile) {
					display: flex;
				}
			}
		}
	}
	#jela
	{
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin: 80px 0;
		position: relative;
		@media screen and (max-width: $screenMobile) {
			margin: 0;
		}
		.wrap
		{
			width: 90%;
			max-width: $contentWidth;
			display: flex;
			align-items: center;
			justify-content: center;
			.jela-slider
			{
				position: relative;
				display: flex;
				align-items: center;
				justify-content: center;
				margin: 0 12.5%;
				@media screen and (max-width: $screenMobile) {
					margin: 0;
				}
				.poklopac
				{
					width: 100%;
					height: 100%;
					background-image: url('../images/pavlaka/pavlaka-jela-poklopac.png');
					position: absolute;
					z-index: 100;
					background-size: cover;
					background-position-x: left;
					display: flex;
					justify-content: center;
					align-items: center;
					top: 50%;
					transform: translateY(-50%);
					&.hover
					{
						background-position-x: right;
					}
				}
				.jela-sa-pavlakom
				{
					position: absolute;
					width: 100%;
					height: 100%;
					top: 50%;
					transform: translateY(-50%);
					.jelo-sa-pavlakom
					{
						position: absolute;
						// display: none;
						opacity: 0;
						width: 100%;
						transition: opacity 0.5s;
					}
					.jelo001
					{
						opacity: 1;
					}
				}
				.tanjir
				{
					max-width: 100%;
				}
			}
			.pavlaka-arrows
			{
				outline:none;
				border: none;
				background: transparent;
				border-radius: 0;
				padding: 1px;
				width: 45px;
				height: 63px;
				position: relative;
				fill: $color-appleGreen;
				@include transition(width .25s);
				&:hover
				{
					transform: scale(1.1);
				}
				@media screen and (max-width: $screenMobile) {
					position: absolute;
					bottom: 80px;
					z-index: 1000;
					width: 35px;
					&.prev-arrow
					{
						left: 25%;
					}
					&.next-arrow
					{
						right: 25%;
					}
					&:hover
					{
						transform: initial;
					}
					&:active
					{
						transform: scale(1.5);
						.stroke
						{
							fill: $color-appleGreen;
						}
					}
				}
			}
		}
		.jela-text
		{
			text-align: center;
			width: 0%;
			padding: 1px;
			overflow: hidden;
			white-space: nowrap;
			color: white;
			display: flex;
			flex-direction: column;
			align-items: center;
			// position: absolute;
			// z-index: -1;
			visibility: hidden;
			@include transition(width 2s);
			@media screen and (max-width: $screenMobile) {
				width: 305px;
				visibility: visible;
				margin-top: 100px;
				position: relative;
				overflow: visible;
			}
			p
			{
				font-size: 27px;
				font-weight: 700;
				display: flex;
				flex-direction: column;
				align-items: center;
				@media screen and (max-width: $screenMobile) {
					font-size: 23px;
				}
			}
			.vLine
			{
				width: 1px;
				height: 30px;
				background: white;
				display: block;
				transform-origin: center bottom;
				transform: scaleY(0);
				@include transition(transform 1s);
				@media screen and (max-width: $screenMobile) {
					transform: scaleY(1);
					height: 75px;
					position: absolute;
					top: -90px;
				}
			}
			&.active
			{
				width: 305px;
				visibility: visible;
				.vLine
				{
					transform: scaleY(1);
				}
			}
		}
	}
	#video
	{
		width: 100%;
		display: flex;
		justify-content: center;
		margin: 80px 0;
		@media screen and (max-width: $screenMobile) {
			margin: 0;
		}
		.wrap
		{
			width: 90%;
			max-width: $contentWidth;
			display: flex;
			flex-direction: column;
			align-items: center;
			.title
			{
				max-width: 90%;
				margin: 50px 0;
			}
			.videowrapper{
				width: 100%;
				position:relative;
				height: auto;
			}
			#pavlaka-video
			{
				width: 100%;
			}
		}
	}
	#pavlaka-footer
	{
		width: 100%;
		display: flex;
		justify-content: center;
		margin: 80px 0 0;
		padding-bottom: 80px;
		.wrap
		{
			width: 90%;
			max-width: $contentWidth;
			display: flex;
			flex-direction: column;
			align-items: center;
			h3
			{
				font-size: 38px;
				color: $pavlaka-red;
				text-align: center;
				@media screen and (max-width: $screenMobile) {
					font-size: 28px;
				}
				margin: 25px 0;
			}
			.social {
				display: flex;
				align-items: center;
				justify-content: center;
				.icon {
					height: 42px;
					width: 42px;
					display: block;
					background-color: #b8b8b8;
					margin: 10px;
					border-radius: 50%;
					display: flex;
					align-items: center;
					justify-content: center;
					@include transition(all 0.5s);
					svg {
						height: 20px;
						width: 20px;
						fill: white;
						&.fb {
							height: 23px;
							width: 23px;
						}
					}
					&:hover {
						background: $pavlaka-red;
					}
				}
			}
		}
	}
	.pavlaka-parallax
	{
		width: 100%;
		position: absolute;
		// margin-top: 160px;
		z-index: -10000;
		@media screen and (max-width: $screenMobile) {
			margin-top: 0;
		}
		.parallax-wrap
		{
			width: 100%;
			height: 100%;
			.window
			{
				width: 100%;
				height: 100%;
				background-image: url("../images/pavlaka/pavlaka-parallax.jpg");
				background-position-x: center;
				background-position-y: 0%;
				background-repeat: no-repeat;
				background-size: cover;
				background-color: #dc1516;
			}
		}
	}
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(243,42,41, 0.95);
  }
  70% {
      box-shadow: 0 0 0 20px rgba(243,42,41, 0);
  }
  100% {
      box-shadow: 0 0 0 0 rgba(243,42,41, 0);
  }
}